<a href="https://colab.research.google.com/github/sucheerarighthere/bsc_dpdm22/blob/main/%5Bdataprep%5D_property_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

หาค่าทางสถิติ ของราคาทรัพย์ / หาความมั่นใจ / แยกนักประเมินสองคนออกมาก่อน

In [8]:
import pandas as pd

In [2]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
unit = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx')
unit.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [9]:
#หาค่าทางสถิติ ของราคาทรัพย์
unit[['ราคาทรัพย์']].describe()

         ราคาทรัพย์
count  1.900000e+02
mean   4.280537e+06
std    2.787971e+06
min    3.900000e+05
25%    2.862750e+06
50%    3.995000e+06
75%    5.000000e+06
max    2.094900e+07

In [17]:
#frequency
freq = unit[['ความมั่นใจในการเมินราคาทรัพย์']]
freq.value_counts()

ความมั่นใจในการเมินราคาทรัพย์
มั่นใจ                           189
ไม่มั่นใจ                          1
dtype: int64

In [31]:
u1 = unit[['ID ผู้ประเมิน','ความมั่นใจในการเมินราคาทรัพย์','ประเมินราคาซื้อ-ขาย']]
u1

     ID ผู้ประเมิน ความมั่นใจในการเมินราคาทรัพย์  ประเมินราคาซื้อ-ขาย
0                1                        มั่นใจ            2500000.0
1                2                        มั่นใจ            2700000.0
2                1                        มั่นใจ            2200000.0
3                2                        มั่นใจ            2400000.0
4                1                        มั่นใจ            5000000.0
..             ...                           ...                  ...
185              2                        มั่นใจ            5000000.0
186              2                        มั่นใจ            7400000.0
187              2                        มั่นใจ            2500000.0
188              2                        มั่นใจ            3900000.0
189              2                        มั่นใจ            1400000.0

[190 rows x 3 columns]

In [ ]:
u1c = u1[u1['ID ผู้ประเมิน']=='1']
u1c