<a href="https://colab.research.google.com/github/sucheerarighthere/bsc_dpdm22/blob/main/QUIZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#QUIZ
ทำนายปริมาณอุณหภูมิต่ำสุดของวันโดยการ
จัดการเดต้าโดยการ

In [150]:
import pandas as pd

In [151]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##pressure ความกดอากาศ

In [152]:
#ขอนแก่นkk นครพนม np  เลยL สกลsk หนองคาย nk

In [153]:
KK_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)
KK_pressure.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667
5,3,352201-หนองคาย จ.หนองคาย,2012-10-01,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,1010.11,...,1010.93,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83,1010.386452

In [154]:
NP_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [155]:
L_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

In [156]:
SK_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=4).drop(0, axis=0)

In [157]:
NK_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

## Relative humidity ความชื้นสัมพัทธ์

In [158]:
KK_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [159]:
NP_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [160]:
SK_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=4).drop(0, axis=0)

In [161]:
NK_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [162]:
L_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

## Wind Speed ความเร็วลม

In [163]:
KK_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [164]:
NP_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [165]:
SK_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',skiprows=4).drop(0, axis=0)

In [166]:
NK_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [167]:
L_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

## CLound Amount

In [168]:
KK_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [169]:
NP_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [170]:
SK_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',skiprows=4).drop(0, axis=0)

In [171]:
NK_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [172]:
L_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

In [173]:
L_ca =L_ca.iloc[:,:35] #เลือกเฉพาะ ถึงคอลลัมน์ค่าเฉลี่ย

## amount of rain

In [174]:
KK_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [175]:
NP_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [176]:
SK_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',skiprows=4).drop(0, axis=0)

In [177]:
NK_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [178]:
L_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

## dew point temperature อุณหภูมิจุดน้ำค้าง

In [179]:
KK_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [180]:
NP_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [181]:
SK_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [182]:
NK_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [183]:
L_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

##  dry weight temperature ตุ้มแห้ง

In [184]:
KK_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [185]:
NP_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [186]:
SK_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',skiprows=4).drop(0, axis=0)

In [187]:
NK_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [188]:
L_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

## lowest temperature อุณหภูมิต่ำสุด

In [189]:
KK_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [190]:
NP_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [191]:
SK_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',skiprows=4).drop(0, axis=0)

In [192]:
NK_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [193]:
L_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

#ส่วนรวมตาราง

In [194]:
pressure = pd.concat([KK_pressure,NP_pressure,SK_pressure,L_pressure,NK_pressure])

In [195]:
rh = pd.concat([KK_rh,NP_rh,SK_rh,L_rh,L_rh])

In [196]:
rh

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,65,66,65,67,68,67,67,65,-,68
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,63,62,60,60,62,65,66,63,64,63
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,80,74,75,71,75,69,70,67,68,69
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,58,53,48,57,71,73,68,-,-,65
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,73,73,72,81,83,73,70,...,65,68,69,69,62,64,69,74,68,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,91,88,87,86,84,88,83,...,83,89,86,88,89,88,93,89,90,89
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,90,86,85,86,83,85,84,...,77,77,78,77,82,80,81,77,-,82
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,76,73,73,72,70,70,69,...,77,78,82,77,75,76,78,76,72,75
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,74,74,77,79,74,73,76,...,87,75,70,68,70,72,68,65,67,75
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,75,75,82,82,78,81,71,...,76,74,74,74,74,72,-,-,-,80

In [197]:
pressure.isnull()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
54,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [198]:
ws = pd.concat([KK_ws,NP_ws,L_ws,NK_ws,SK_ws])

In [199]:
ws

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,7,6,5,5,3,1,3,3,-,3.466667
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,5,6,7,6,5,4,4,6,5,4.806452
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,3,3,4,2,2,1,3,4,4,3.129032
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,1,2,3,2,4,3,3,3,-,2.566667
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,2,2,1,2,2,5,7,...,6,4,2,4,5,2,2,3,5,3.225806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,1,1,3,2,3,3,3,...,4,4,3,2,1,2,2,1,2,2.290323
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,1,2,2,-,1,1,1,...,4,3,2,2,3,3,2,4,-,2.310345
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,2,4,3,1,3,2,1,...,1,2,1,2,3,2,2,3,3,2.129032
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,2,3,1,2,1,...,1,2,1,2,3,3,2,4,3,2.290323
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,4,3,4,4,5,2,1,...,4,4,3,4,3,2,-,-,-,3.035714

In [200]:
ca = pd.concat([KK_ca,NP_ca,SK_ca,NK_ca,L_ca])

In [201]:
ca

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,6,6,3,2,2,1,3,2,-,3.533333
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,5,5,3,3,1,2,1,1,1,3.516129
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,6,4,4,3,2,5,6,10,10,5.354839
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,1,2,0,1,4,5,1,2,-,2.533333
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,5,3,3,7,8,7,9,...,5,5,3,4,3,6,5,5,4,4.548387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,4,2,5,2,4,5,4,...,6,2,2,1,3,6,9,5,4,5.612903
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,4,3,2,1,1,1,1,...,3,1,5,3,3,1,1,1,-,2.466667
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,1,1,1,-,0,0,-,...,1,1,5,3,4,-,3,2,1,1.875000
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,1,3,-,-,0,...,6,2,1,1,1,1,1,1,0,1.925926
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,3,5,5,5,7,6,1,...,2,-,1,0,3,2,-,-,-,4.925926

In [202]:
ar = pd.concat([KK_ar,NP_ar,NK_ar,SK_ar,L_ar])

In [203]:
dpt = pd.concat([KK_dpt,NP_dpt,NK_dpt,SK_dpt,L_dpt])

In [204]:
dpt

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-,18.910000
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3,14.525806
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,21.5,19.2,19.2,16.3,19.5,19.7,19.4,18.7,16.7,18.058065
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,18.4,17.0,16.3,18.8,22.3,22.1,21.3,-,-,18.772414
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,21.3,21.8,22.3,24.1,24.0,21.5,20.3,...,20.0,20.9,20.9,20.9,19.2,21.0,22.5,22.9,20.4,21.551613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,43,353201-เลย จ.เลย,2020-10-01,24.6,24.4,23.9,24.2,24.4,23.5,23.1,...,19.7,18.9,19.1,21.1,21.8,22.2,22,23.1,22.5,22.254839
46,44,353201-เลย จ.เลย,2020-11-01,22.8,22.3,21.6,20.9,21.4,21.6,21.7,...,21.1,20.2,20.4,19.6,19.2,18.3,18.1,17.2,-,20.093333
47,45,353201-เลย จ.เลย,2020-12-01,17.1,17.8,17.3,14.4,13.2,13.9,14.4,...,13.8,16.0,17.1,18.4,19.3,19.4,18.3,16.5,10.7,16.041935
48,46,353201-เลย จ.เลย,2021-01-01,10.0,9.7,10.8,13.9,16.0,17.3,16.9,...,13.2,15.2,15.6,15.7,16.7,16.9,15,14.7,15.2,13.145161
49,47,353201-เลย จ.เลย,2021-02-01,16.5,17.2,16.3,14.2,14.8,15.0,15.8,...,16.8,18.4,17.3,13.0,13.8,15.2,-,-,-,15.782143

In [205]:
dwt = pd.concat([KK_dwt,NP_dwt,SK_dwt,NK_dwt,L_dwt])

In [206]:
lt = pd.concat([KK_lt,NP_lt,NK_lt,SK_lt,L_lt])

##ส่วนเปลี่ยนชื่อคอลลัมน์ในตาราง

In [229]:
pressure=pressure.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [228]:
rh=rh.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [227]:
ws=ws.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [226]:
ca=ca.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [225]:
ar=ar.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [224]:
dpt=dpt.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [223]:
dwt=dwt.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [220]:
lt=lt.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667
5,3,352201-หนองคาย จ.หนองคาย,2012-10-01,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,1010.11,...,1010.93,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83,1010.386452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,352201-หนองคาย จ.หนองคาย,2021-10-01,1008.43,1008.34,1008.24,1008.42,1007.69,1005.89,1004.30,...,1015.30,1014.89,1013.39,1012.31,1012.32,1012.01,1013.2,1013.23,1012.88,1009.137097
51,49,352201-หนองคาย จ.หนองคาย,2021-11-01,1012.91,1013.02,1012.15,1011.46,1009.40,1007.50,1008.19,...,1013.19,1014.92,1014.61,1014.41,1015.38,1014.90,1013.6,1014.54,-,1012.143667
52,50,352201-หนองคาย จ.หนองคาย,2021-12-01,1015.91,1017.25,1018.56,1018.62,1017.53,1016.78,1016.78,...,1012.90,1012.60,1014.50,1015.92,1017.25,1017.72,1016.77,1018.16,1018.61,1015.897097
53,1,352201-หนองคาย จ.หนองคาย,2022-01-01,1018.23,1017.43,1015.47,1014.62,1013.71,1013.76,1015.39,...,1010.13,1010.22,1010.08,1010.58,1010.70,1010.58,1008.71,1008.14,1009.05,1012.938065
54,2,352201-หนองคาย จ.หนองคาย,2022-02-01,1011.36,1012.78,1012.90,1013.71,1015.78,1014.38,1011.54,...,1018.04,1019.23,1018.46,1016.68,1015.31,1013.06,-,-,-,1012.519286

In [233]:
pressure["day"] = pressure['วันเดือนปี'].map(lambda x: x.day)
pressure["month"] = pressure['วันเดือนปี'].map(lambda x: x.month)
pressure["year"] = pressure['วันเดือนปี'].map(lambda x: x.year)

In [256]:
rh["day"] = rh['วันเดือนปี'].map(lambda x: x.day)
rh["month"] = rh['วันเดือนปี'].map(lambda x: x.month)
rh["year"] = rh['วันเดือนปี'].map(lambda x: x.year)

In [257]:
rh

,index,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
0,1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,...,67,68,67,67,65,-,68,1,11,2011
1,2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,...,60,62,65,66,63,64,63,1,12,2011
2,3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,...,71,75,69,70,67,68,69,1,1,2012
3,4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,...,57,71,73,68,-,-,65,1,2,2012
4,5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,73,73,72,81,83,73,...,69,62,64,69,74,68,72,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,50,48,353301-เลย สกษ. จ.เลย,2021-10-01,91,88,87,86,84,88,...,88,89,88,93,89,90,89,1,10,2021
266,51,49,353301-เลย สกษ. จ.เลย,2021-11-01,90,86,85,86,83,85,...,77,82,80,81,77,-,82,1,11,2021
267,52,50,353301-เลย สกษ. จ.เลย,2021-12-01,76,73,73,72,70,70,...,77,75,76,78,76,72,75,1,12,2021
268,53,1,353301-เลย สกษ. จ.เลย,2022-01-01,74,74,77,79,74,73,...,68,70,72,68,65,67,75,1,1,2022
269,54,2,353301-เลย สกษ. จ.เลย,2022-02-01,75,75,82,82,78,81,...,74,74,72,-,-,-,80,1,2,2022

In [259]:
ws["day"] = ws['วันเดือนปี'].map(lambda x: x.day)
ws["month"] = ws['วันเดือนปี'].map(lambda x: x.month)
ws["year"] = ws['วันเดือนปี'].map(lambda x: x.year)
ws

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,5,3,1,3,3,-,3.466667,1,11,2011
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,6,5,4,4,6,5,4.806452,1,12,2011
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,2,2,1,3,4,4,3.129032,1,1,2012
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,2,4,3,3,3,-,2.566667,1,2,2012
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,2,2,1,2,2,5,7,...,4,5,2,2,3,5,3.225806,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,1,1,3,2,3,3,3,...,2,1,2,2,1,2,2.290323,1,10,2021
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,1,2,2,-,1,1,1,...,2,3,3,2,4,-,2.310345,1,11,2021
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,2,4,3,1,3,2,1,...,2,3,2,2,3,3,2.129032,1,12,2021
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,2,3,1,2,1,...,2,3,3,2,4,3,2.290323,1,1,2022
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,4,3,4,4,5,2,1,...,4,3,2,-,-,-,3.035714,1,2,2022

In [260]:
ca["day"] = ca['วันเดือนปี'].map(lambda x: x.day)
ca["month"] = ca['วันเดือนปี'].map(lambda x: x.month)
ca["year"] = ca['วันเดือนปี'].map(lambda x: x.year)
ca

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,2,2,1,3,2,-,3.533333,1,11,2011
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,3,1,2,1,1,1,3.516129,1,12,2011
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,3,2,5,6,10,10,5.354839,1,1,2012
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,1,4,5,1,2,-,2.533333,1,2,2012
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,5,3,3,7,8,7,9,...,4,3,6,5,5,4,4.548387,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,4,2,5,2,4,5,4,...,1,3,6,9,5,4,5.612903,1,10,2021
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,4,3,2,1,1,1,1,...,3,3,1,1,1,-,2.466667,1,11,2021
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,1,1,1,-,0,0,-,...,3,4,-,3,2,1,1.875000,1,12,2021
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,1,3,-,-,0,...,1,1,1,1,1,0,1.925926,1,1,2022
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,3,5,5,5,7,6,1,...,0,3,2,-,-,-,4.925926,1,2,2022

In [261]:
ar["day"] = ar['วันเดือนปี'].map(lambda x: x.day)
ar["month"] = ar['วันเดือนปี'].map(lambda x: x.month)
ar["year"] = ar['วันเดือนปี'].map(lambda x: x.year)
ar

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,-,11.8,1,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-,1,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,T,0,38.7,1,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,-,-,T,1,2,2012
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,0,0,0,T,0.3,0,21.9,...,1.1,0,0,0,0,0,34.4,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353201-เลย จ.เลย,2021-10-01,2.8,0,5.6,0,1.8,1.2,0,...,0,0,7.4,0.8,0,-,234.7,1,10,2021
51,49,353201-เลย จ.เลย,2021-11-01,0,0,0,0,0,0,4,...,0,0,0,0,-,-,4.2,1,11,2021
52,50,353201-เลย จ.เลย,2021-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-,1,12,2021
53,1,353201-เลย จ.เลย,2022-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,13.4,1,1,2022
54,2,353201-เลย จ.เลย,2022-02-01,0.2,0,0,0,0.8,0,0,...,0,0,0,-,-,-,74.1,1,2,2022

In [262]:
dpt["day"] = dpt['วันเดือนปี'].map(lambda x: x.day)
dpt["month"] = dpt['วันเดือนปี'].map(lambda x: x.month)
dpt["year"] = dpt['วันเดือนปี'].map(lambda x: x.year)
dpt

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,18.3,19.2,18.9,19,18.3,-,18.910000,1,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,9.7,12.4,16.1,16.3,16.1,16.3,14.525806,1,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,16.3,19.5,19.7,19.4,18.7,16.7,18.058065,1,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,18.8,22.3,22.1,21.3,-,-,18.772414,1,2,2012
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,21.3,21.8,22.3,24.1,24.0,21.5,20.3,...,20.9,19.2,21.0,22.5,22.9,20.4,21.551613,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,43,353201-เลย จ.เลย,2020-10-01,24.6,24.4,23.9,24.2,24.4,23.5,23.1,...,21.1,21.8,22.2,22,23.1,22.5,22.254839,1,10,2020
46,44,353201-เลย จ.เลย,2020-11-01,22.8,22.3,21.6,20.9,21.4,21.6,21.7,...,19.6,19.2,18.3,18.1,17.2,-,20.093333,1,11,2020
47,45,353201-เลย จ.เลย,2020-12-01,17.1,17.8,17.3,14.4,13.2,13.9,14.4,...,18.4,19.3,19.4,18.3,16.5,10.7,16.041935,1,12,2020
48,46,353201-เลย จ.เลย,2021-01-01,10.0,9.7,10.8,13.9,16.0,17.3,16.9,...,15.7,16.7,16.9,15,14.7,15.2,13.145161,1,1,2021
49,47,353201-เลย จ.เลย,2021-02-01,16.5,17.2,16.3,14.2,14.8,15.0,15.8,...,13.0,13.8,15.2,-,-,-,15.782143,1,2,2021

In [263]:
dwt["day"] = dwt['วันเดือนปี'].map(lambda x: x.day)
dwt["month"] = dwt['วันเดือนปี'].map(lambda x: x.month)
dwt["year"] = dwt['วันเดือนปี'].map(lambda x: x.year)
dwt

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,25.5,26.1,26.2,26,26,-,25.8,1,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,18.3,20.4,23.5,23.7,24.2,24.1,22.4,1,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,23.8,24.5,25.0,24.8,22.8,23.4,23.1,...,22.1,24.6,26.3,25.6,25.3,23,24.4,1,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,23.9,25.4,25.3,24.8,27.2,28.2,28.3,...,29.2,28.2,27.5,28.5,-,-,26.5,1,2,2012
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,26.8,27.4,28.3,27.9,27.4,27.3,26.5,...,27.6,27.8,28.8,29,28.3,27.5,27.6,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,43,353201-เลย จ.เลย,2020-10-01,27.5,27.1,26.3,27.7,26.5,27.6,27.1,...,23.6,25.6,26.3,23.1,24.6,24.8,25.5,1,10,2020
46,44,353201-เลย จ.เลย,2020-11-01,26.7,26.1,26.0,25.8,25.8,26.0,25.1,...,25.3,24.5,24.9,23.7,23.1,-,25.3,1,11,2020
47,45,353201-เลย จ.เลย,2020-12-01,22.9,23.1,23.6,21.9,20.1,19.7,20.2,...,23.7,25.1,25.7,25.3,23.8,20.3,22.2,1,12,2020
48,46,353201-เลย จ.เลย,2021-01-01,18.0,16.8,18.1,20.2,22.5,23.3,23.6,...,23.2,24.0,24.5,23.5,21.6,22.6,20.8,1,1,2021
49,47,353201-เลย จ.เลย,2021-02-01,23.7,24.8,25.1,24.3,23.4,23.8,24.1,...,26.3,25.2,25.6,-,-,-,24.1,1,2,2021

In [264]:
lt["day"] = lt['วันเดือนปี'].map(lambda x: x.day)
lt["month"] = lt['วันเดือนปี'].map(lambda x: x.month)
lt["year"] = lt['วันเดือนปี'].map(lambda x: x.year)
lt

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,18.9,20.2,20.1,20.2,19.8,-,20.3,1,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,11.6,13.2,16.5,16.7,18.4,17,16.4,1,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,17.7,19.6,20.4,20.7,16.8,16.9,16.8,...,16.2,17.5,21.6,20.8,21.6,20.1,19.4,1,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,19.4,20.5,20.9,20.9,21.5,21.1,20.7,...,21.3,23.4,22,22.2,-,-,20.1,1,2,2012
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,22.5,22.5,23.5,24.2,24.0,23.2,21.9,...,23.3,22.6,23.7,24.3,24.3,22.7,23.0,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353201-เลย จ.เลย,2021-10-01,24.3,23.8,24.0,23.0,22.5,23.6,23.0,...,20.4,20.8,20.5,22.5,23.1,-,22.7,1,10,2021
51,49,353201-เลย จ.เลย,2021-11-01,23.4,23.0,23.0,21.0,21.3,20.4,20.8,...,19.6,17.6,15.8,15.8,-,-,20.4,1,11,2021
52,50,353201-เลย จ.เลย,2021-12-01,15.5,15.6,13.4,10.5,9.2,11.1,12.0,...,18.9,18.9,15.5,16.1,18.4,17.8,14.8,1,12,2021
53,1,353201-เลย จ.เลย,2022-01-01,16.4,16.6,15.0,15.9,14.1,14.2,14.8,...,15.5,16.0,16.6,16.7,15.5,15,16.2,1,1,2022
54,2,353201-เลย จ.เลย,2022-02-01,15.5,19.5,20.5,20.0,18.0,17.5,17.1,...,13.5,15.0,17.6,-,-,-,18.3,1,2,2022

In [ ]:
pressure

## cancat ตารางทั้งหมด เข้าด้วยกัน

In [269]:
table1 = pd.concat([pressure,rh,ws,ca,ar,dpt,dwt,lt])

In [270]:
pressure.T

,1,2,3,4,5,6,7,8,9,10,...,45,46,47,48,49,50,51,52,53,54
ที่,2,3,1,2,3,4,5,6,7,8,...,43,44,45,46,47,48,49,50,1,2
สถานี,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,...,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย,352201-หนองคาย จ.หนองคาย
วันเดือนปี,2011-11-01 00:00:00,2011-12-01 00:00:00,2012-01-01 00:00:00,2012-02-01 00:00:00,2012-10-01 00:00:00,2012-11-01 00:00:00,2012-12-01 00:00:00,2013-01-01 00:00:00,2013-02-01 00:00:00,2013-10-01 00:00:00,...,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2022-01-01 00:00:00,2022-02-01 00:00:00
1,1011.79,1011.43,1015.67,1013.26,1011.5,1012.67,1009.8,1014.58,1015.19,1007.15,...,1005.33,1012.57,1016.36,1019.34,1014.51,1008.43,1012.91,1015.91,1018.23,1011.36
2,1010.83,1012.57,1014.11,1012.92,1011.11,1011.17,1010.17,1013.3,1013.97,1010.12,...,1006.13,1013.12,1015.03,1017.81,1014.06,1008.34,1013.02,1017.25,1017.43,1012.78
3,1010.74,1012.28,1012.91,1013.61,1008.6,1010.47,1010.74,1013.73,1013.89,1009.88,...,1007.29,1013.71,1015.53,1015.88,1014.69,1008.24,1012.15,1018.56,1015.47,1012.9
4,1010.71,1012.97,1014.06,1013.18,1007.07,1010.24,1010.72,1012.89,1013.91,1009.47,...,1008.05,1013.45,1016.58,1016.12,1015.41,1008.42,1011.46,1018.62,1014.62,1013.71
5,1010.09,1013.09,1015.51,1011.26,1008.17,1010.43,1010.61,1011.43,1013.43,1008.08,...,1008.18,1013.25,1017.31,1014.48,1014.6,1007.69,1009.4,1017.53,1013.71,1015.78
6,1009.24,1012.03,1015.88,1008.8,1010.06,1010.9,1012.15,1011.8,1011.11,1008.35,...,1009.47,1013.27,1016.58,1013.13,1013.3,1005.89,1007.5,1016.78,1013.76,1014.38
7,1008.03,1012.05,1017.72,1008.16,1010.11,1009.76,1011.02,1012.2,1008.35,1009.3,...,1008.7,1014.57,1016.3,1012.3,1012.67,1004.3,1008.19,1016.78,1015.39,1011.54
8,1007.2,1011.94,1018.06,1009.66,1010.07,1008.36,1011.34,1011.64,1008.48,1010.1,...,1008.57,1015.2,1016.5,1014.02,1011.0,1002.91,1010.96,1016.96,1014.94,1010.61
9,1009.68,1014.29,1016.98,1011.25,1010.56,1008.55,1010.76,1010.92,1011.74,1010.45,...,1009.72,1013.81,1014.45,1016.3,1012.99,1003.11,1013.87,1016.93,1012.94,1010.7
10,1011.96,1016.1,1016.18,1011.42,1011.39,1009.21,1010.29,1012.06,1012.34,1011.16,...,1008.61,1013.77,1013.26,1015.77,1013.18,1002.04,1014.25,1016.12,1012.41,1010.29
11,1012.75,1017.69,1016.16,1012.09,1011.03,1009.95,1010.88,1012.95,1011.63,1010.69,...,1007.17,1015.2,1012.57,1018.42,1013.1,1003.76,1012.74,1015.85,1013.56,1010.01
12,1013.67,1016.89,1016.05,1012.7,1010.51,1012.05,1012.72,1013.03,1011.39,1009.2,...,1006.22,1015.2,1011.1,1021.07,1013.14,1004.63,1013.71,1016.68,1015.23,1009.21
13,1013.9,1015.56,1014.04,1011.99,1009.59,1012.08,1012.73,1012.02,1012.57,1008.58,...,1005.74,1013.9,1009.8,1016.33,1013.41,1003.66,1013.57,1016.48,1014.54,1007.44
14,1013.99,1014.68,1010.22,1010.56,1010.27,1010.86,1013.53,1011.79,1011.13,1007.43,...,1004.31,1012.82,1010.98,1013.43,1012.85,1003.13,1013.57,1014.85,1014.84,1010.59
15,1014.04,1013.5,1008.22,1008.19,1011.86,1010.94,1012.27,1013.49,1009.65,1006.0,...,1005.93,1011.97,1013.16,1011.3,1011.05,1006.41,1011.34,1012.8,1013.67,1010.9
16,1012.1,1015.17,1007.87,1008.37,1011.95,1011.02,1011.72,1014.32,1010.58,1005.07,...,1006.53,1013.26,1014.95,1011.29,1010.56,1008.98,1011.45,1012.11,1013.64,1009.94
17,1010.78,1016.28,1007.78,1010.07,1011.69,1011.52,1010.76,1016.17,1009.28,1010.34,...,1006.7,1011.61,1014.73,1015.44,1013.71,1010.97,1012.04,1013.64,1014.3,1008.69
18,1009.32,1016.61,1007.53,1012.43,1012.83,1011.82,1011.56,1018.47,1007.62,1011.91,...,1008.33,1009.76,1015.1,1018.6,1018.4,1011.9,1010.79,1016.05,1015.1,1008.37
19,1011.05,1015.25,1008.5,1013.86,1012.01,1011.1,1011.65,1016.41,1007.57,1013.19,...,1009.91,1009.32,1016.91,1015.71,1018.62,1013.91,1008.46,1016.71,1013.98,1008.21
20,1014.14,1014.17,1009.81,1012.16,1011.73,1011.07,1010.83,1014.92,1009.02,1012.74,...,1011.28,1009.63,1018.19,1013.76,1016.49,1012.54,1007.42,1014.61,1012.23,1010.73
21,1014.6,1013.67,1009.18,1008.94,1011.69,1009.9,1010.62,1014.37,1011.46,1011.92,...,1011.46,1009.91,1017.28,1012.4,1013.47,1010.95,1008.95,1013.74,1012.25,1015.23
22,1013.63,1012.88,1009.62,1006.99,1011.87,1008.6,1010.88,1013.7,1013.99,1012.93,...,1010.65,1011.87,1015.48,1011.34,1011.14,1013.51,1011.01,1013.42,1010.65,1016.39
23,1014.07,1012.88,1010.91,1005.75,1010.93,1008.6,1014.53,1013.16,1015.38,1012.52,...,1010.97,1013.51,1012.96,1011.08,1009.68,1015.3,1013.19,1012.9,1010.13,1018.04
24,1015.4,1015.78,1011.27,1005.46,1010.2,1010.51,1016.29,1012.54,1013.4,1012.21,...,1011.72,1013.67,1012.18,1011.27,1008.09,1014.89,1014.92,1012.6,1010.22,1019.23
25,1013.95,1018.56,1011.65,1004.8,1009.78,1011.46,1013.54,1012.09,1011.79,1013.81,...,1010.69,1013.25,1013.02,1011.35,1005.74,1013.39,1014.61,1014.5,1010.08,1018.46
26,1012.35,1018.65,1012.56,1005.08,1009.08,1010.77,1011.6,1012.41,1010.17,1014.58,...,1010.38,1014.49,1012.97,1011.59,1004.17,1012.31,1014.41,1015.92,1010.58,1016.68
27,1011.31,1016.88,1010.76,1006.57,1008.67,1010.16,1010.58,1013.8,1007.95,1013.7,...,1009.73,1015.51,1010.98,1012.08,1005.16,1012.32,1015.38,1017.25,1010.7,1015.31
28,1009.59,1016.05,1010.26,1005.96,1008.41,1010.18,1009.61,1016.45,1006.82,1013.78,...,1007.69,1016.0,1009.82,1014.02,1007.43,1012.01,1014.9,1017.72,1010.58,1013.06
29,1010.13,1014.98,1010.69,1006.53,1008.71,1010.04,1009.9,1015.31,-,1013.54,...,1006.51,1015.75,1010.05,1015.5,-,1013.2,1013.6,1016.77,1008.71,-
30,1010.47,1015.53,1012.34,1010.47,1008.7,1009.54,1011.64,1014.99,-,1012.81,...,1011.8,1016.33,1013.77,1015.53,-,1013.23,1014.54,1018.16,1008.14,-
31,-,1016.4,1014.52,-,1011.83,-,1014.86,1015.58,-,1012.4,...,1012.37,-,1018.65,1015.57,-,1012.88,-,1018.61,1009.05,-
ค่าเฉลี่ย,1011.717,1016.47,1012.484516,1009.749667,1010.386452,1010.464333,1011.622581,1013.629677,1011.2075,1010.755161,...,1008.585161,1013.322667,1014.275806,1014.588065,1012.236429,1009.137097,1012.143667,1015.897097,1012.938065,1012.519286
day,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
month,11,12,1,2,10,11,12,1,2,10,...,10,11,12,1,2,10,11,12,1,2
year,2011,2011,2012,2012,2012,2012,2012,2013,2013,2013,...,2020,2020,2020,2021,2021,2021,2021,2021,2022,2022