<a href="https://colab.research.google.com/github/sucheerarighthere/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลของ กรม อุตุ ([link](https://drive.google.com/drive/folders/1ZrM7cgpeFDY0v4jVlNg62LvI6WpBgHBR)) ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณภูมิต่ำสุดของวันจากค่าอื่นๆ
![ตารางgroupquiz.png]()

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# ความกด

## เลย

In [ ]:
pressure_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
pressure_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_lei['จังหวัด'] = 'เลย'
pressure_lei['เดือน'] =pressure_lei['เดือน/ปี'].dt.month
pressure_lei['ปี'] = pressure_lei['เดือน/ปี'].dt.year
pres_lei = pressure_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,352201-หนองคาย จ.หนองคาย,10,2011,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,...,1010.98,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71
2,เลย,352201-หนองคาย จ.หนองคาย,11,2011,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,...,1014.21,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-
3,เลย,352201-หนองคาย จ.หนองคาย,12,2011,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,...,1014.34,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62

In [ ]:
pres_lei.shape

(55, 35)

## สกลนคร

In [ ]:
pressure_snk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
pressure_snk.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_snk['จังหวัด'] = 'สกลนคร'
pressure_snk['เดือน'] = pressure_snk['เดือน/ปี'].dt.month
pressure_snk['ปี'] = pressure_snk['เดือน/ปี'].dt.year
pres_snk = pressure_snk[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## นครพนม

In [ ]:
pressure_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
pressure_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_npm['จังหวัด'] = 'นครพนม'
pressure_npm['เดือน'] = pressure_npm['เดือน/ปี'].dt.month
pressure_npm['ปี'] = pressure_npm['เดือน/ปี'].dt.year
pres_npm = pressure_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [ ]:
pressure_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
pressure_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_nki['จังหวัด'] = 'หนองคาย'
pressure_nki['เดือน'] = pressure_nki['เดือน/ปี'].dt.month
pressure_nki['ปี'] = pressure_nki['เดือน/ปี'].dt.year
pres_nk = pressure_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## ขอนแก่น

In [ ]:
pressure_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
pressure_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_kkn['จังหวัด'] = 'ขอนแก่น'
pressure_kkn['เดือน'] = pressure_kkn['เดือน/ปี'].dt.month 
pressure_kkn['ปี'] = pressure_kkn['เดือน/ปี'].dt.year 
pres_kn = pressure_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## รวมตารางความกด ทั้ง 5 จังหวัด

In [ ]:
all_province = pd.concat([pres_lei, pres_snk, pres_npm, pres_nk, pres_kn])

In [ ]:
pressure = pd.melt(all_province,               # pd.melt เปลี่ยนจาก wide format เป็น long format
id_vars=['จังหวัด','สถานี','เดือน','ปี'], # id_vars : column ที่ต้องการฟิคไว้ไม่ให้ melt  
                 var_name='วันที่', value_name='ความกด')

In [ ]:
pressure

      จังหวัด                     สถานี  เดือน    ปี วันที่   ความกด
0         เลย  352201-หนองคาย จ.หนองคาย     10  2011      1  1005.12
1         เลย  352201-หนองคาย จ.หนองคาย     11  2011      1  1012.09
2         เลย  352201-หนองคาย จ.หนองคาย     12  2011      1  1010.43
3         เลย  352201-หนองคาย จ.หนองคาย      1  2012      1  1015.42
4         เลย  352201-หนองคาย จ.หนองคาย      2  2012      1  1013.19
...       ...                       ...    ...   ...    ...      ...
8520  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2021     31  1012.96
8521  ขอนแก่น  352201-หนองคาย จ.หนองคาย     11  2021     31        -
8522  ขอนแก่น  352201-หนองคาย จ.หนองคาย     12  2021     31  1018.39
8523  ขอนแก่น  352201-หนองคาย จ.หนองคาย      1  2022     31  1008.91
8524  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     31        -

[8525 rows x 6 columns]

In [ ]:
pressure['วันที่'] = pressure['วันที่'].astype(int) # .astype('ชนิดของข้อมูลที่ต้องการ') -> แปลงชนิดของข้อมูล

In [ ]:
pressure = pressure.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']).reset_index().iloc[:,1:] # sort_values เรียงวันที่
pressure

      จังหวัด                     สถานี  เดือน    ปี  วันที่   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       1  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       2  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       3  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       4  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       5  1009.88
...       ...                       ...    ...   ...     ...      ...
8520      เลย  352201-หนองคาย จ.หนองคาย      2  2022      27  1014.97
8521      เลย  352201-หนองคาย จ.หนองคาย      2  2022      28  1012.88
8522      เลย  352201-หนองคาย จ.หนองคาย      2  2022      29        -
8523      เลย  352201-หนองคาย จ.หนองคาย      2  2022      30        -
8524      เลย  352201-หนองคาย จ.หนองคาย      2  2022      31        -

[8525 rows x 6 columns]

# ความชื้น

## เลย

In [ ]:
humidity_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
humidity_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_lei['จังหวัด'] = 'เลย'
humidity_lei['เดือน'] =humidity_lei['เดือน/ปี'].dt.month
humidity_lei['ปี'] = humidity_lei['เดือน/ปี'].dt.year
hum_lei = humidity_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## สกลนคร

In [ ]:
humidity_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
humidity_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_skn['จังหวัด'] = 'สกลนคร'
humidity_skn['เดือน'] =humidity_skn['เดือน/ปี'].dt.month
humidity_skn['ปี'] = humidity_skn['เดือน/ปี'].dt.year
hum_skn = humidity_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [ ]:
humidity_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
humidity_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_nki['จังหวัด'] = 'หนองคาย'
humidity_nki['เดือน'] =humidity_nki['เดือน/ปี'].dt.month
humidity_nki['ปี'] = humidity_nki['เดือน/ปี'].dt.year
hum_nk = humidity_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## นครพนม

In [ ]:
humidity_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
humidity_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_npm['จังหวัด'] = 'นครพนม'
humidity_npm['เดือน'] = humidity_npm['เดือน/ปี'].dt.month
humidity_npm['ปี'] = humidity_npm['เดือน/ปี'].dt.year
hum_npm = pressure_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [ ]:
humidity_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
humidity_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_nki['จังหวัด'] = 'หนองคาย'
humidity_nki['เดือน'] =humidity_nki['เดือน/ปี'].dt.month
humidity_nki['ปี'] = humidity_nki['เดือน/ปี'].dt.year
hum_nk = humidity_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## ขอนแก่น

In [ ]:
humidity_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
humidity_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_kkn['จังหวัด'] = 'ขอนแก่น'
humidity_kkn['เดือน'] = humidity_kkn['เดือน/ปี'].dt.month
humidity_kkn['ปี'] =humidity_kkn['เดือน/ปี'].dt.year
hum_kn = humidity_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## รวมตารางความชื้น ทั้ง 5 จังหวัด

In [ ]:
all_province_hum = pd.concat([hum_lei, hum_skn, hum_npm, hum_nk, hum_kn])

In [ ]:
humidity = pd.melt(all_province_hum,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ความชื้น')

In [ ]:
humidity['วันที่'] = humidity['วันที่'].astype(int)

In [ ]:
humidity = humidity.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']).reset_index().iloc[:,1:]

In [ ]:
humidity

      จังหวัด                     สถานี  เดือน    ปี  วันที่ ความชื้น
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       1     83.0
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       2     92.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       3     86.0
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       4     80.0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       5     86.0
...       ...                       ...    ...   ...     ...      ...
8520      เลย     353301-เลย สกษ. จ.เลย      2  2022      27     74.0
8521      เลย     353301-เลย สกษ. จ.เลย      2  2022      28     72.0
8522      เลย     353301-เลย สกษ. จ.เลย      2  2022      29        -
8523      เลย     353301-เลย สกษ. จ.เลย      2  2022      30        -
8524      เลย     353301-เลย สกษ. จ.เลย      2  2022      31        -

[8525 rows x 6 columns]

# อุณหภูมิตุ้มแห้ง

## เลย

In [ ]:
dry_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
dry_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_lei['จังหวัด'] = 'เลย'
dry_lei['เดือน'] =dry_lei['เดือน/ปี'].dt.month
dry_lei['ปี'] = dry_lei['เดือน/ปี'].dt.year
dryw_lei = dry_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
dryw_lei.shape

(50, 35)

## สกลนคร

In [ ]:
dry_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
dry_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_skn['จังหวัด'] = 'สกลนคร'
dry_skn['เดือน'] = dry_skn['เดือน/ปี'].dt.month
dry_skn['ปี'] = dry_skn['เดือน/ปี'].dt.year
dryw_skn = dry_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
dryw_skn.shape

(55, 35)

## นครพนม

In [ ]:
dry_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
dry_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_npm['จังหวัด'] = 'นครพนม'
dry_npm['เดือน'] = dry_npm['เดือน/ปี'].dt.month
dry_npm['ปี'] = dry_npm['เดือน/ปี'].dt.year
dryw_npm = dry_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
dryw_npm.shape

(55, 35)

## หนองคาย

In [ ]:
dry_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
dry_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_nki['จังหวัด'] = 'หนองคาย'
dry_nki['เดือน'] =dry_nki['เดือน/ปี'].dt.month
dry_nki['ปี'] = dry_nki['เดือน/ปี'].dt.year
dryw_nk =dry_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
dryw_nk.shape

(55, 35)

## ขอนแก่น

In [ ]:
dry_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
dry_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_kkn['จังหวัด'] = 'ขอนแก่น'
dry_kkn['เดือน'] = dry_kkn['เดือน/ปี'].dt.month
dry_kkn['ปี'] = dry_kkn['เดือน/ปี'].dt.year
dryw_kn = dry_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## รวมตารางอุณหภูมิตุ้มแห้ง ทั้ง 5 จังหวัด

In [ ]:
all_province_dry = pd.concat([dryw_lei, dryw_skn, dryw_npm, dryw_nk, dryw_kn])

In [ ]:
dry_buld = pd.melt(all_province_dry,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='อุณหภูมิตุ้มแห้ง')

In [ ]:
dry_buld['วันที่'] = dry_buld['วันที่'].astype(int)

In [ ]:
dry_buld = dry_buld.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']).reset_index().iloc[:,1:]

In [ ]:
dry_buld

      จังหวัด                     สถานี  เดือน    ปี  วันที่ อุณหภูมิตุ้มแห้ง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       1             27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       2             25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       3             25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       4             25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       5             24.3
...       ...                       ...    ...   ...     ...              ...
8365      เลย          353201-เลย จ.เลย      2  2021      27             25.2
8366      เลย          353201-เลย จ.เลย      2  2021      28             25.6
8367      เลย          353201-เลย จ.เลย      2  2021      29                -
8368      เลย          353201-เลย จ.เลย      2  2021      30                -
8369      เลย          353201-เลย จ.เลย      2  2021      31                -

[8370 rows x 6 columns]

# อุณหภูมิจุดน้ำค้าง

## เลย

In [ ]:
dew_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
dew_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_lei['จังหวัด'] = 'เลย'
dew_lei['เดือน'] =dew_lei['เดือน/ปี'].dt.month
dew_lei['ปี'] = dew_lei['เดือน/ปี'].dt.year
dewp_lei = dew_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
dewp_lei.shape

(50, 35)

## สกลนคร

In [ ]:
dew_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
dew_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_skn['จังหวัด'] = 'สกลนคร'
dew_skn['เดือน'] = dew_skn['เดือน/ปี'].dt.month
dew_skn['ปี'] = dew_skn['เดือน/ปี'].dt.year
dewp_skn = dew_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
dewp_skn.shape

(55, 35)

## นครพนม

In [ ]:
dew_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
dew_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_npm['จังหวัด'] = 'นครพนม'
dew_npm['เดือน'] = dew_npm['เดือน/ปี'].dt.month
dew_npm['ปี'] = dew_npm['เดือน/ปี'].dt.year
dewp_npm = dew_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
dewp_npm.shape

(55, 35)

## หนองคาย

In [ ]:
dew_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
dew_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_nki['จังหวัด'] = 'หนองคาย'
dew_nki['เดือน'] =dew_nki['เดือน/ปี'].dt.month
dew_nki['ปี'] = dew_nki['เดือน/ปี'].dt.year
dewp_nk =dew_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
dewp_nk.shape

(55, 35)

## ขอนแก่น

In [ ]:
dew_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
dew_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_kkn['จังหวัด'] = 'ขอนแก่น'
dew_kkn['เดือน'] = dew_kkn['เดือน/ปี'].dt.month
dew_kkn['ปี'] = dew_kkn['เดือน/ปี'].dt.year
dewp_kn = dew_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
dewp_kn.shape

(55, 35)

In [ ]:
dewp_kn

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,24.2,24.0,22.9,21.9,21.7,21.3,...,20.8,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,20.2,18.5,19.4,19.0,19.2,20.6,...,20.1,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,17.7,15.3,12.7,14.0,14.6,16.6,...,16.2,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3
4,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2012,16.5,17.4,18.7,17.0,15.3,16.7,...,22.4,21.5,19.2,19.2,16.3,19.5,19.7,19.4,18.7,16.7
5,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2012,18.0,19.6,19.5,19.2,20.7,20.8,...,16.5,18.4,17.0,16.3,18.8,22.3,22.1,21.3,-,-
6,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2012,21.3,21.8,22.3,24.1,24.0,21.5,...,20.1,20.0,20.9,20.9,20.9,19.2,21.0,22.5,22.9,20.4
7,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2012,17.7,19.0,19.3,20.2,20.4,20.9,...,21.4,21.6,21.8,22.6,22.6,22.5,21.7,22.3,22.4,-
8,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2012,21.3,21.2,21.5,21.1,21.5,17.1,...,17.0,15.9,12.0,14.0,16.3,17.2,17.8,17,15.2,10.4
9,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2013,12.8,14.6,15.6,14.7,15.3,15.8,...,15.3,16.8,17.2,17.1,18.9,19.5,18.6,18.8,18.3,18.5
10,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2013,18.1,18.1,16.5,17.6,18.5,17.0,...,14.7,13.2,14.9,17.8,18.5,19.0,19.8,-,-,-
11,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2013,23.3,23.8,23.5,21.9,20.7,21.3,...,21.4,21.2,20.4,19.0,17.8,17.8,18.6,20,20.8,21.3
12,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2013,20.4,20.4,17.7,17.9,18.7,20.0,...,19.3,19.9,21.1,21.3,20.1,21.0,18.8,14.8,15.2,-
13,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2013,15.3,12.2,11.9,14.6,15.7,15.4,...,11.2,13.0,13.0,11.0,10.5,9.7,10.5,11.3,12,11.4
14,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2014,11.5,13.7,15.7,15.9,14.5,16.1,...,7.9,6.5,6.7,8.8,13.6,13.9,14.1,14.9,14.8,14.2
15,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2014,15.6,15.4,15.7,15.1,17.5,18.3,...,16.5,17.4,17.8,18.6,19.5,20.4,19.7,-,-,-
16,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2014,23.3,22.8,22.4,21.9,22.4,20.9,...,21.9,21.9,22.6,22.4,22.9,22.3,22.7,22.6,23.5,22.8
17,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2014,23.1,22.9,21.1,20.2,21.8,23.1,...,18.6,17.4,17.2,17.3,18.4,20.4,21.6,21.5,20.1,-
18,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2014,18.6,20.4,19.8,20.5,17.6,18.3,...,10.4,11.2,14.0,17.7,18.7,19.2,16.3,12.9,13.2,13.1
19,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2015,9.8,9.6,12.1,14.4,15.9,16.3,...,12.9,12.2,13.6,12.7,13.1,14.3,14.6,14.5,15.8,12.9
20,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2015,12.1,14.2,14.8,13.5,13.2,12.2,...,21.2,21.5,20.0,19.1,17.9,19.1,19.5,-,-,-
21,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2015,23.8,24.1,23.7,24.2,23.6,24.0,...,22.0,20.8,18.7,20.2,20.4,21.2,20.9,21.8,21.2,20.4
22,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2015,21.0,19.4,19.5,20.1,20.7,21.9,...,20.2,20.9,20.9,20.8,20.3,18.1,19.7,20.3,20.8,-
23,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2015,21.5,21.7,22.3,21.3,20.9,19.5,...,17.9,20.8,20.8,20.9,19.6,19.9,17.7,18.6,18.8,15.9
24,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2016,16.3,17.1,16.7,17.2,15.1,17.0,...,23.3,23.1,12.6,7.8,10.2,14.2,16.7,18.3,20.3,22.4
25,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2016,23.1,16.6,14.8,16.8,17.4,11.6,...,19.6,21.7,19.2,15.1,15.3,15.3,16.1,16,-,-
26,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2016,24.3,23.4,23.8,24.1,24.1,24.0,...,24.0,24.3,23.7,23.6,24.0,23.8,23.1,22.3,21.9,21.4
27,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2016,21.1,20.0,18.5,18.7,19.8,20.6,...,22.5,22.6,22.8,20.6,20.1,17.2,15.7,16.5,17.2,-
28,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2016,16.1,16.7,17.5,19.1,18.1,16.7,...,18.2,18.0,18.4,18.9,17.7,16.2,12.4,11.9,11.4,15.1
29,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2017,18.5,18.1,17.8,16.9,17.9,18.3,...,14.1,13.0,14.4,16.0,15.2,13.8,12.7,13.4,14.2,13.6
30,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2017,14.5,16.3,18.0,18.5,15.6,14.1,...,16.4,17.3,21.4,19.4,17.0,14.7,16.1,-,-,-
31,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2017,25.3,25.2,24.7,23.8,23.7,24.6,...,23.3,22.9,21.1,21.6,21.4,21.4,19.9,19.9,17.6,17
32,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2017,18.4,18.6,17.2,14.1,15.2,17.6,...,19.9,18.0,15.3,14.9,17.1,17.3,19.2,20.2,20,-
33,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2017,19.9,18.6,18.6,18.9,17.1,17.3,...,12.1,16.3,16.6,13.8,14.1,18.1,18.8,19.6,18.7,16.6
34,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2018,16.2,17.0,18.0,19.2,19.6,21.2,...,19.3,17.7,16.8,17.0,18.4,18.5,20.0,20.9,15.9,16.6
35,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2018,11.7,12.5,9.8,9.8,10.1,8.4,...,21.1,20.3,20.2,20.3,18.5,19.0,20.8,-,-,-
36,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2018,22.7,21.7,20.7,21.2,20.0,21.3,...,24.2,24.1,23.9,24.0,22.3,21.5,22.1,20.9,19.4,16.1
37,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2018,13.6,13.2,15.3,16.5,18.4,19.8,...,21.0,19.3,19.3,18.1,16.6,17.2,19.1,18.8,19.7,-
38,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2018,20.5,20.6,19.7,18.6,19.8,20.3,...,21.4,20.4,18.4,17.4,17.3,16.8,18.1,17.3,15.4,12.2
39,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2019,13.1,13.0,14.5,16.8,18.8,19.3,...,15.8,15.5,15.1,16.7,14.2,13.0,13.8,16.8,17.6,18.3
40,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2019,16.6,16.1,16.1,17.4,18.4,19.4,...,16.8,18.1,17.7,19.9,21.4,22.4,20.5,-,-,-
41,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2019,23.4,23.9,23.8,24.1,23.7,22.6,...,22.5,22.9,23.3,22.9,23.3,22.4,22.0,21.9,17.1,16
42,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2019,20.9,23.2,23.0,21.2,20.1,20.1,...,18.6,18.0,17.5,16.3,18.6,21.6,20.7,18.6,20.7,-
43,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2019,21.0,19.1,14.5,13.5,11.6,10.7,...,17.5,16.8,16.7,16.9,18.2,17.3,16.0,16.6,16,17.7
44,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2020,18.5,17.6,17.7,17.8,17.3,17.8,...,17.5,17.7,20.0,19.2,17.0,15.7,16.7,16.2,14,12.9
45,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2020,15.1,16.4,15.7,16.1,17.0,17.7,...,15.9,15.8,15.4,15.0,15.1,17.6,17.9,18.6,-,-
46,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2020,24.7,25.1,24.5,24.6,24.1,23.9,...,19.3,16.7,15.1,17.2,20.8,22.0,20.6,22.5,23.2,23.1
47,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2020,22.7,21.7,20.6,20.4,20.2,21.3,...,21.5,20.0,19.8,19.5,19.0,18.8,17.8,17.6,16.2,-
48,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2020,16.1,17.2,16.0,14.7,12.7,13.1,...,11.5,14.1,16.6,17.4,18.1,19.4,19.8,18.9,15.8,11.1
49,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2021,9.1,9.1,11.5,14.4,15.8,18.6,...,11.7,13.5,15.0,16.6,16.2,16.1,16.0,14,14,15.6
50,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2021,17.2,16.7,15.5,14.4,14.8,14.5,...,15.4,16.1,16.0,17.6,15.4,14.2,15.3,-,-,-
51,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2021,25.6,24.8,23.9,22.9,22.8,23.6,...,23.2,20.1,19.7,20.5,20.1,20.4,21.9,23.1,23.7,23.6
52,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2021,23.8,23.2,23.0,22.4,22.9,22.7,...,20.5,17.5,16.5,17.5,16.5,17.0,14.8,15.4,15.6,-
53,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2021,14.5,12.0,9.7,8.5,9.3,10.5,...,15.7,16.3,17.5,19.0,18.5,17.0,15.2,16.4,16.7,15.5
54,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,2022,15.2,15.4,16.7,16.4,16.5,15.9,...,19.1,19.6,18.5,16.1,14.6,15.7,16.1,16.9,15.7,18.2
55,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,2022,18.8,19.7,19.1,17.2,15.0,16.7,...,14.5,13.7,12.0,12.4,14.3,15.7,17.5,-,-,-

## รวมตารางอุณหภูมิจุดน้ำค้าง ทั้ง 5 จังหวัด

In [ ]:
all_province_dew = pd.concat([dewp_lei, dewp_skn, dewp_npm, dewp_nk, dewp_kn])

In [ ]:
dew_point = pd.melt(all_province_dew,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='อุณหภูมิจุดน้ำค้าง')

In [ ]:
dew_point['วันที่'] = dew_point['วันที่'].astype(int)

In [ ]:
dew_point =dew_point.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']).reset_index().iloc[:,1:]

In [ ]:
dew_point

,จังหวัด,สถานี,เดือน,ปี,วันที่,อุณหภูมิจุดน้ำค้าง
0,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,1,24.2
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,2,24.0
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,3,22.9
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,4,21.9
4,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,5,21.7
...,...,...,...,...,...,...
8365,เลย,353201-เลย จ.เลย,2,2021,27,13.8
8366,เลย,353201-เลย จ.เลย,2,2021,28,15.2
8367,เลย,353201-เลย จ.เลย,2,2021,29,-
8368,เลย,353201-เลย จ.เลย,2,2021,30,-
8369,เลย,353201-เลย จ.เลย,2,2021,31,-

 # อุณหภูมิต่ำสุด

## เลย

In [ ]:
low_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
low_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_lei['จังหวัด'] = 'เลย'
low_lei['เดือน'] =low_lei['เดือน/ปี'].dt.month
low_lei['ปี'] = low_lei['เดือน/ปี'].dt.year
lowt_lei = low_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

In [ ]:
lowt_lei.shape

(55, 35)

## สกลนคร

In [ ]:
low_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
low_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_skn['จังหวัด'] = 'สกลนคร'
low_skn['เดือน'] = low_skn['เดือน/ปี'].dt.month
low_skn['ปี'] = low_skn['เดือน/ปี'].dt.year
lowt_skn = low_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## นครพนม

In [ ]:
low_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
low_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_npm['จังหวัด'] = 'นครพนม'
low_npm['เดือน'] = low_npm['เดือน/ปี'].dt.month
low_npm['ปี'] = low_npm['เดือน/ปี'].dt.year
lowt_npm = low_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [ ]:
low_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
low_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_nki['จังหวัด'] = 'หนองคาย'
low_nki['เดือน'] = low_nki['เดือน/ปี'].dt.month
low_nki['ปี'] = low_nki['เดือน/ปี'].dt.year
lowt_nk =low_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## ขอนแก่น

In [ ]:
low_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
low_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_kkn['จังหวัด'] = 'ขอนแก่น'
low_kkn['เดือน'] = low_kkn['เดือน/ปี'].dt.month
low_kkn['ปี'] = low_kkn['เดือน/ปี'].dt.year
lowt_kn = low_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## รวมตารางอุณหภูมิต่ำสุด ทั้ง 5 จังหวัด

In [ ]:
all_province_low = pd.concat([lowt_lei, lowt_skn, lowt_npm, lowt_nk, lowt_kn])

In [ ]:
mini_temp = pd.melt(all_province_low,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='อุณหภูมิต่ำสุด')

In [ ]:
mini_temp['วันที่'] = mini_temp['วันที่'].astype(int)

In [ ]:
mini_temp = mini_temp.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']).reset_index().iloc[:,1:]

In [ ]:
mini_temp

      จังหวัด                     สถานี  เดือน    ปี  วันที่ อุณหภูมิต่ำสุด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       1           24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       2           23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       3           22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       4           22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       5           23.1
...       ...                       ...    ...   ...     ...            ...
8520      เลย          353201-เลย จ.เลย      2  2022      27           15.0
8521      เลย          353201-เลย จ.เลย      2  2022      28           17.6
8522      เลย          353201-เลย จ.เลย      2  2022      29              -
8523      เลย          353201-เลย จ.เลย      2  2022      30              -
8524      เลย          353201-เลย จ.เลย      2  2022      31              -

[8525 rows x 6 columns]

# จำนวนเมฆ

## เลย

In [ ]:
clound_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
clound_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_lei['จังหวัด'] = 'เลย'
clound_lei['เดือน'] =clound_lei['เดือน/ปี'].dt.month
clound_lei['ปี'] = clound_lei['เดือน/ปี'].dt.year
clounda_lei = clound_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## สกลนคร

In [ ]:
clound_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
clound_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_skn['จังหวัด'] = 'สกลนคร'
clound_skn['เดือน'] = clound_skn['เดือน/ปี'].dt.month
clound_skn['ปี'] = clound_skn['เดือน/ปี'].dt.year
clounda_skn = clound_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## นครพนม

In [ ]:
clound_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
clound_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_npm['จังหวัด'] = 'นครพนม'
clound_npm['เดือน'] = clound_npm['เดือน/ปี'].dt.month
clound_npm['ปี'] = clound_npm['เดือน/ปี'].dt.year
clounda_npm = clound_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [ ]:
clound_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
clound_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_nki['จังหวัด'] = 'หนองคาย'
clound_nki['เดือน'] =clound_nki['เดือน/ปี'].dt.month
clound_nki['ปี'] = clound_nki['เดือน/ปี'].dt.year
clounda_nk = clound_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## ขอนแก่น

In [ ]:
clound_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
clound_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_kkn['จังหวัด'] = 'ขอนแก่น'
clound_kkn['เดือน'] = clound_kkn['เดือน/ปี'].dt.month
clound_kkn['ปี'] = clound_kkn['เดือน/ปี'].dt.year
clounda_kn = clound_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## รวมตารางจำนวนเมฆ ทั้ง 5 จังหวัด

In [ ]:
all_province_clound = pd.concat([clounda_lei,clounda_skn, clounda_npm, clounda_nk, clounda_kn])

In [ ]:
clound = pd.melt(all_province_clound,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='จำนวนเมฆ')

In [ ]:
clound

      จังหวัด                  สถานี  เดือน    ปี วันที่ จำนวนเมฆ
0         เลย  353301-เลย สกษ. จ.เลย     10  2011      1        8
1         เลย  353301-เลย สกษ. จ.เลย     11  2011      1        2
2         เลย  353301-เลย สกษ. จ.เลย     12  2011      1        1
3         เลย  353301-เลย สกษ. จ.เลย      1  2012      1        1
4         เลย  353301-เลย สกษ. จ.เลย      2  2012      1        8
...       ...                    ...    ...   ...    ...      ...
8520  ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2021     31        2
8521  ขอนแก่น  353301-เลย สกษ. จ.เลย     11  2021     31        -
8522  ขอนแก่น  353301-เลย สกษ. จ.เลย     12  2021     31        5
8523  ขอนแก่น  353301-เลย สกษ. จ.เลย      1  2022     31        2
8524  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     31        -

[8525 rows x 6 columns]

In [ ]:
clound['วันที่'] = clound['วันที่'].astype(int)

In [ ]:
clound = clound.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']).reset_index().iloc[:,1:]

In [ ]:
clound

      จังหวัด                  สถานี  เดือน    ปี  วันที่ จำนวนเมฆ
0     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       1        9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       2       10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       3       10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       4        8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       5       10
...       ...                    ...    ...   ...     ...      ...
8520      เลย  353301-เลย สกษ. จ.เลย      2  2022      27        3
8521      เลย  353301-เลย สกษ. จ.เลย      2  2022      28        2
8522      เลย  353301-เลย สกษ. จ.เลย      2  2022      29        -
8523      เลย  353301-เลย สกษ. จ.เลย      2  2022      30        -
8524      เลย  353301-เลย สกษ. จ.เลย      2  2022      31        -

[8525 rows x 6 columns]

#  ปริมาณฝน

## เลย

In [ ]:
rain_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
rain_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_lei['จังหวัด'] = 'เลย'
rain_lei['เดือน'] =rain_lei['เดือน/ปี'].dt.month
rain_lei['ปี'] = rain_lei['เดือน/ปี'].dt.year
raina_lei = rain_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## สกลนคร

In [ ]:
rain_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
rain_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_skn['จังหวัด'] = 'สกลนคร'
rain_skn['เดือน'] = rain_skn['เดือน/ปี'].dt.month
rain_skn['ปี'] = rain_skn['เดือน/ปี'].dt.year
raina_skn = rain_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## นครพนม

In [ ]:
rain_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
rain_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_npm['จังหวัด'] = 'นครพนม'
rain_npm['เดือน'] = rain_npm['เดือน/ปี'].dt.month
rain_npm['ปี'] = rain_npm['เดือน/ปี'].dt.year
raina_npm =rain_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [ ]:
rain_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
rain_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_nki['จังหวัด'] = 'หนองคาย'
rain_nki['เดือน'] = rain_nki['เดือน/ปี'].dt.month
rain_nki['ปี'] = rain_nki['เดือน/ปี'].dt.year
raina_nk = rain_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## ขอนแก่น

In [ ]:
rain_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
rain_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_kkn['จังหวัด'] = 'ขอนแก่น'
rain_kkn['เดือน'] = rain_kkn['เดือน/ปี'].dt.month
rain_kkn['ปี'] = rain_kkn['เดือน/ปี'].dt.year
raina_kn = rain_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## รวมตารางปริมาณฝน ทั้ง 5 จังหวัด

In [ ]:
all_province_rain = pd.concat([raina_lei,raina_skn, raina_npm, raina_nk, raina_kn])

In [ ]:
rain = pd.melt(all_province_rain,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ปริมาณฝน')

In [ ]:
rain['วันที่'] = rain['วันที่'].astype(int)

In [ ]:
rain =rain.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']).reset_index().iloc[:,1:]

In [ ]:
rain

      จังหวัด                     สถานี  เดือน    ปี  วันที่ ปริมาณฝน
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       1      1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       2     17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       3        3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       4        0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011       5      2.2
...       ...                       ...    ...   ...     ...      ...
8520      เลย          353201-เลย จ.เลย      2  2022      27        0
8521      เลย          353201-เลย จ.เลย      2  2022      28        0
8522      เลย          353201-เลย จ.เลย      2  2022      29        -
8523      เลย          353201-เลย จ.เลย      2  2022      30        -
8524      เลย          353201-เลย จ.เลย      2  2022      31        -

[8525 rows x 6 columns]

In [ ]:
rain.shape

(8525, 6)

# ความเร็วลม

## เลย

In [ ]:
wind_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
wind_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_lei['จังหวัด'] = 'เลย'
wind_lei['เดือน'] =wind_lei['เดือน/ปี'].dt.month
wind_lei['ปี'] = wind_lei['เดือน/ปี'].dt.year
winds_lei = wind_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## สกลนคร

In [ ]:
wind_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
wind_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_skn['จังหวัด'] = 'สกลนคร'
wind_skn['เดือน'] = wind_skn['เดือน/ปี'].dt.month
wind_skn['ปี'] = wind_skn['เดือน/ปี'].dt.year
winds_skn = wind_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## นครพนม

In [ ]:
wind_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
wind_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_npm['จังหวัด'] = 'นครพนม'
wind_npm['เดือน'] = wind_npm['เดือน/ปี'].dt.month
wind_npm['ปี'] = wind_npm['เดือน/ปี'].dt.year
winds_npm = wind_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [ ]:
wind_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
wind_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_nki['จังหวัด'] = 'หนองคาย'
wind_nki['เดือน'] =wind_nki['เดือน/ปี'].dt.month
wind_nki['ปี'] = wind_nki['เดือน/ปี'].dt.year
winds_nk = wind_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## ขอนแก่น

In [ ]:
wind_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
wind_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_kkn['จังหวัด'] = 'ขอนแก่น'
wind_kkn['เดือน'] = wind_kkn['เดือน/ปี'].dt.month
wind_kkn['ปี'] = wind_kkn['เดือน/ปี'].dt.year
winds_kn = wind_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## รวมตารางความเร็วลม ทั้ง 5 จังหวัด

In [ ]:
all_province_wind = pd.concat([winds_lei, winds_skn, winds_npm, winds_nk, winds_kn])

In [ ]:
wind = pd.melt(all_province_wind,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ความเร็วลม')

In [ ]:
wind['วันที่'] = wind['วันที่'].astype(int)

In [ ]:
wind = wind.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']).reset_index().iloc[:,1:]

In [ ]:
wind.shape

(8525, 6)

In [ ]:
wind

      จังหวัด                  สถานี  เดือน    ปี  วันที่ ความเร็วลม
0     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       1          3
1     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       2          2
2     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       3          3
3     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       4          2
4     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011       5          2
...       ...                    ...    ...   ...     ...        ...
8520      เลย  353301-เลย สกษ. จ.เลย      2  2022      27          1
8521      เลย  353301-เลย สกษ. จ.เลย      2  2022      28          1
8522      เลย  353301-เลย สกษ. จ.เลย      2  2022      29          -
8523      เลย  353301-เลย สกษ. จ.เลย      2  2022      30          -
8524      เลย  353301-เลย สกษ. จ.เลย      2  2022      31          -

[8525 rows x 6 columns]

# รวมตารางทั้งหมด

In [ ]:
total = pd.concat([pressure,humidity,dry_buld,dew_point,mini_temp,clound,rain,wind], axis=1)

In [ ]:
total.columns.duplicated() # True : column ที่ซ้ำ

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False])

In [ ]:
total = total.loc[:, ~total.columns.duplicated()].drop(total.index[(total['ความกด'] == '-')],axis=0)

In [ ]:
total

,จังหวัด,สถานี,เดือน,ปี,วันที่,ความกด,ความชื้น,อุณหภูมิตุ้มแห้ง,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,จำนวนเมฆ,ปริมาณฝน,ความเร็วลม
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,1,1005.47,83.0,27.6,24.2,24.8,9,1.4,3
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,2,1006.65,92.0,25.6,24.0,23.0,10,17.7,2
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,3,1007.49,86.0,25.6,22.9,22.1,10,3,3
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,4,1008.28,80.0,25.8,21.9,22.8,8,0,2
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,5,1009.88,86.0,24.3,21.7,23.1,10,2.2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8517,เลย,352201-หนองคาย จ.หนองคาย,2,2022,24,1018.88,74.0,NaN,NaN,14.0,-,0,2
8518,เลย,352201-หนองคาย จ.หนองคาย,2,2022,25,1017.8,74.0,NaN,NaN,12.8,1,0,1
8519,เลย,352201-หนองคาย จ.หนองคาย,2,2022,26,1016.54,74.0,NaN,NaN,13.5,0,0,1
8520,เลย,352201-หนองคาย จ.หนองคาย,2,2022,27,1014.97,74.0,NaN,NaN,15.0,3,0,1
8521,เลย,352201-หนองคาย จ.หนองคาย,2,2022,28,1012.88,72.0,NaN,NaN,17.6,2,0,1

In [ ]:
total= total.drop(total.index[(total['ความกด'] == '-')],axis=0)

In [ ]:
total= total.drop(total.index[(total['ความชื้น'] == '-')],axis=0)

In [ ]:
total=total.drop(total.index[(total['อุณหภูมิตุ้มแห้ง'] == '-')],axis=0)
total=total.drop(total.index[(total['อุณหภูมิจุดน้ำค้าง'] == '-')],axis=0)
total=total.drop(total.index[(total['อุณหภูมิต่ำสุด'] == '-')],axis=0)
total=total.drop(total.index[(total['จำนวนเมฆ'] == '-')],axis=0)
total=total.drop(total.index[(total['ปริมาณฝน'] == '-')],axis=0)
total=total.drop(total.index[(total['ความเร็วลม'] == '-')],axis=0)

In [ ]:
total

,จังหวัด,สถานี,เดือน,ปี,วันที่,ความกด,ความชื้น,อุณหภูมิตุ้มแห้ง,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,จำนวนเมฆ,ปริมาณฝน,ความเร็วลม
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,1,1005.47,83.0,27.6,24.2,24.8,9,1.4,3
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,2,1006.65,92.0,25.6,24.0,23.0,10,17.7,2
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,3,1007.49,86.0,25.6,22.9,22.1,10,3,3
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,4,1008.28,80.0,25.8,21.9,22.8,8,0,2
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,5,1009.88,86.0,24.3,21.7,23.1,10,2.2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8516,เลย,352201-หนองคาย จ.หนองคาย,2,2022,23,1017.65,76.0,NaN,NaN,15.0,2,0,2
8518,เลย,352201-หนองคาย จ.หนองคาย,2,2022,25,1017.8,74.0,NaN,NaN,12.8,1,0,1
8519,เลย,352201-หนองคาย จ.หนองคาย,2,2022,26,1016.54,74.0,NaN,NaN,13.5,0,0,1
8520,เลย,352201-หนองคาย จ.หนองคาย,2,2022,27,1014.97,74.0,NaN,NaN,15.0,3,0,1
8521,เลย,352201-หนองคาย จ.หนองคาย,2,2022,28,1012.88,72.0,NaN,NaN,17.6,2,0,1

# check แต่ละจังหวัด

In [ ]:
LEI = total[total['จังหวัด']=='เลย']
LEI.isnull().sum()

จังหวัด                 0
สถานี                   0
เดือน                   0
ปี                      0
วันที่                  0
ความกด                  0
ความชื้น                0
อุณหภูมิตุ้มแห้ง      151
อุณหภูมิจุดน้ำค้าง    151
อุณหภูมิต่ำสุด          0
จำนวนเมฆ                0
ปริมาณฝน                2
ความเร็วลม              0
dtype: int64

In [ ]:
SNK = total[total['จังหวัด']=='สกลนคร']
SNK.isnull().sum()

จังหวัด               0
สถานี                 0
เดือน                 0
ปี                    0
วันที่                0
ความกด                0
ความชื้น              0
อุณหภูมิตุ้มแห้ง      0
อุณหภูมิจุดน้ำค้าง    0
อุณหภูมิต่ำสุด        0
จำนวนเมฆ              0
ปริมาณฝน              0
ความเร็วลม            0
dtype: int64

In [ ]:
NKP = total[total['จังหวัด']=='นครพนม']
NKP.isnull().sum()

จังหวัด               0
สถานี                 0
เดือน                 0
ปี                    0
วันที่                0
ความกด                0
ความชื้น              0
อุณหภูมิตุ้มแห้ง      0
อุณหภูมิจุดน้ำค้าง    0
อุณหภูมิต่ำสุด        0
จำนวนเมฆ              0
ปริมาณฝน              0
ความเร็วลม            0
dtype: int64

In [ ]:
NKI = total[total['จังหวัด']=='หนองคาย']
NKI.isnull().sum()

จังหวัด               0
สถานี                 0
เดือน                 0
ปี                    0
วันที่                0
ความกด                0
ความชื้น              0
อุณหภูมิตุ้มแห้ง      0
อุณหภูมิจุดน้ำค้าง    0
อุณหภูมิต่ำสุด        0
จำนวนเมฆ              1
ปริมาณฝน              0
ความเร็วลม            0
dtype: int64

In [ ]:
KKN = total[total['จังหวัด']=='ขอนแก่น']
KKN.isnull().sum()

จังหวัด               0
สถานี                 0
เดือน                 0
ปี                    0
วันที่                0
ความกด                0
ความชื้น              0
อุณหภูมิตุ้มแห้ง      0
อุณหภูมิจุดน้ำค้าง    0
อุณหภูมิต่ำสุด        0
จำนวนเมฆ              0
ปริมาณฝน              0
ความเร็วลม            0
dtype: int64