<a href="https://colab.research.google.com/github/sucheerarighthere/bsc_dpdm22/blob/main/QUIZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#QUIZ
ทำนายปริมาณอุณหภูมิต่ำสุดของวันโดยการ
จัดการเดต้าโดยการ

In [219]:
import pandas as pd

In [220]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##pressure ความกดอากาศ

In [221]:
#ขอนแก่นkk นครพนม np  เลยL สกลsk หนองคาย nk

In [222]:
KK_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)
KK_pressure.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667
5,3,352201-หนองคาย จ.หนองคาย,2012-10-01,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,1010.11,...,1010.93,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83,1010.386452

In [223]:
KK_pressure['จังหวัด']='ขอนแก่น'

In [224]:
KK_pressure

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,24,25,26,27,28,29,30,31,Unnamed: 34,จังหวัด
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000,ขอนแก่น
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000,ขอนแก่น
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516,ขอนแก่น
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667,ขอนแก่น
5,3,352201-หนองคาย จ.หนองคาย,2012-10-01,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,1010.11,...,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83,1010.386452,ขอนแก่น
6,4,352201-หนองคาย จ.หนองคาย,2012-11-01,1012.67,1011.17,1010.47,1010.24,1010.43,1010.90,1009.76,...,1010.51,1011.46,1010.77,1010.16,1010.18,1010.04,1009.54,-,1010.464333,ขอนแก่น
7,5,352201-หนองคาย จ.หนองคาย,2012-12-01,1009.80,1010.17,1010.74,1010.72,1010.61,1012.15,1011.02,...,1016.29,1013.54,1011.60,1010.58,1009.61,1009.9,1011.64,1014.86,1011.622581,ขอนแก่น
8,6,352201-หนองคาย จ.หนองคาย,2013-01-01,1014.58,1013.30,1013.73,1012.89,1011.43,1011.80,1012.20,...,1012.54,1012.09,1012.41,1013.80,1016.45,1015.31,1014.99,1015.58,1013.629677,ขอนแก่น
9,7,352201-หนองคาย จ.หนองคาย,2013-02-01,1015.19,1013.97,1013.89,1013.91,1013.43,1011.11,1008.35,...,1013.40,1011.79,1010.17,1007.95,1006.82,-,-,-,1011.207500,ขอนแก่น
10,8,352201-หนองคาย จ.หนองคาย,2013-10-01,1007.15,1010.12,1009.88,1009.47,1008.08,1008.35,1009.30,...,1012.21,1013.81,1014.58,1013.70,1013.78,1013.54,1012.81,1012.4,1010.755161,ขอนแก่น
11,9,352201-หนองคาย จ.หนองคาย,2013-11-01,1011.98,1011.46,1012.38,1014.27,1013.73,1012.49,1012.23,...,1010.65,1009.57,1009.86,1011.42,1014.45,1016.41,1015.26,-,1011.742333,ขอนแก่น
12,10,352201-หนองคาย จ.หนองคาย,2013-12-01,1016.33,1016.26,1014.47,1013.72,1012.13,1012.41,1013.45,...,1017.48,1017.28,1016.62,1017.87,1016.97,1016.84,1017,1017.5,1014.554839,ขอนแก่น
13,11,352201-หนองคาย จ.หนองคาย,2014-01-01,1015.68,1013.34,1012.22,1013.22,1012.63,1011.37,1011.15,...,1014.48,1012.48,1014.52,1015.37,1013.99,1014.53,1015.39,1014.49,1015.809032,ขอนแก่น
14,12,352201-หนองคาย จ.หนองคาย,2014-02-01,1011.69,1008.58,1006.13,1005.61,1006.28,1006.33,1006.42,...,1013.11,1012.19,1010.95,1011.90,1010.65,1017.86,1016.45,-,1011.170667,ขอนแก่น
15,13,352201-หนองคาย จ.หนองคาย,2014-10-01,1010.85,1010.07,1008.86,1008.74,1009.45,1011.89,1011.67,...,1011.71,1011.75,1012.54,1011.60,1010.97,1011.07,1010.28,1009.99,1011.508710,ขอนแก่น
16,14,352201-หนองคาย จ.หนองคาย,2014-11-01,1009.82,1010.80,1012.60,1012.98,1013.05,1011.94,1011.51,...,1011.58,1010.59,1009.18,1009.71,1009.71,1009.31,1008.11,-,1012.142333,ขอนแก่น
17,15,352201-หนองคาย จ.หนองคาย,2014-12-01,1010.10,1011.37,1011.13,1012.84,1015.01,1013.72,1012.41,...,1015.77,1014.03,1011.86,1012.67,1015.48,1016.54,1014.73,1015.75,1015.031935,ขอนแก่น
18,16,352201-หนองคาย จ.หนองคาย,2015-01-01,1018.10,1018.43,1016.61,1013.04,1010.62,1010.23,1011.51,...,1013.35,1013.90,1013.39,1011.88,1010.83,1012.02,1013.99,1016.1,1015.371935,ขอนแก่น
19,17,352201-หนองคาย จ.หนองคาย,2015-02-01,1017.24,1017.93,1018.05,1016.92,1016.98,1017.54,1015.70,...,1010.20,1008.99,1008.88,1009.33,1009.39,-,-,-,1013.369286,ขอนแก่น
20,18,352201-หนองคาย จ.หนองคาย,2015-10-01,1011.22,1010.97,1010.41,1010.60,1010.96,1011.22,1011.05,...,1012.27,1013.21,1013.10,1012.37,1013.38,1013.26,1013.24,1013.93,1011.945161,ขอนแก่น
21,19,352201-หนองคาย จ.หนองคาย,2015-11-01,1014.97,1015.22,1014.31,1012.89,1010.98,1010.44,1012.16,...,1011.37,1011.94,1013.02,1014.29,1015.72,1015.5,1014.26,-,1012.320333,ขอนแก่น
22,20,352201-หนองคาย จ.หนองคาย,2015-12-01,1012.55,1012.12,1012.52,1012.37,1013.84,1015.29,1016.55,...,1012.50,1012.83,1014.45,1016.48,1018.15,1017.3,1016.83,1018.79,1014.545161,ขอนแก่น
23,21,352201-หนองคาย จ.หนองคาย,2016-01-01,1019.11,1017.96,1016.01,1014.81,1013.54,1014.17,1015.09,...,1022.85,1024.58,1021.61,1018.09,1014.91,1012.85,1012.14,1010.96,1014.070645,ขอนแก่น
24,22,352201-หนองคาย จ.หนองคาย,2016-02-01,1012.54,1015.56,1015.71,1014.56,1014.67,1018.76,1021.78,...,1016.51,1020.20,1020.62,1019.59,1018.81,1018.79,1014.23,-,1015.699000,ขอนแก่น
25,23,352201-หนองคาย จ.หนองคาย,2016-10-01,1008.89,1008.47,1007.18,1006.91,1006.73,1008.18,1008.18,...,1007.45,1008.60,1010.82,1012.48,1011.16,1011.55,1012.69,1012.93,1008.360000,ขอนแก่น
26,24,352201-หนองคาย จ.หนองคาย,2016-11-01,1012.79,1013.98,1014.58,1012.23,1009.86,1009.65,1010.88,...,1010.14,1010.23,1010.87,1012.68,1014.55,1015.79,1016.13,-,1011.899667,ขอนแก่น
27,25,352201-หนองคาย จ.หนองคาย,2016-12-01,1016.86,1016.16,1015.39,1014.32,1013.74,1015.07,1014.06,...,1012.30,1012.25,1011.84,1013.72,1016.30,1017.37,1017.8,1016.77,1013.720323,ขอนแก่น
28,26,352201-หนองคาย จ.หนองคาย,2017-01-01,1015.76,1014.10,1013.84,1012.96,1012.34,1010.60,1008.84,...,1017.70,1017.96,1017.01,1016.06,1014.32,1012.96,1012.88,1013.95,1013.325484,ขอนแก่น
29,27,352201-หนองคาย จ.หนองคาย,2017-02-01,1014.21,1015.26,1014.23,1011.67,1010.69,1009.80,1008.96,...,1011.29,1012.89,1013.60,1014.51,1013.49,1016.69,1017.07,-,1013.891333,ขอนแก่น
30,28,352201-หนองคาย จ.หนองคาย,2017-10-01,1009.04,1007.45,1007.44,1009.05,1010.15,1009.71,1008.66,...,1014.10,1015.08,1013.71,1011.98,1012.53,1013.79,1015.2,1014.65,1010.060968,ขอนแก่น
31,29,352201-หนองคาย จ.หนองคาย,2017-11-01,1013.68,1011.33,1012.00,1011.97,1013.19,1012.18,1011.52,...,1015.12,1015.78,1014.90,1012.86,1012.40,1012.22,1011.47,-,1011.561667,ขอนแก่น
32,30,352201-หนองคาย จ.หนองคาย,2017-12-01,1012.16,1012.63,1012.48,1012.26,1013.50,1012.88,1012.24,...,1013.11,1014.21,1015.17,1014.80,1014.75,1014.72,1014.49,1015.22,1014.673226,ขอนแก่น
33,31,352201-หนองคาย จ.หนองคาย,2018-01-01,1013.49,1012.55,1011.88,1010.84,1009.47,1008.59,1009.45,...,1008.44,1008.10,1008.46,1008.72,1008.65,1009.56,1012.29,1013.5,1011.680000,ขอนแก่น
34,32,352201-หนองคาย จ.หนองคาย,2018-02-01,1016.03,1016.00,1018.19,1017.67,1019.01,1018.11,1015.02,...,1013.63,1011.51,1011.92,1011.70,1009.53,-,-,-,1013.448929,ขอนแก่น
35,33,352201-หนองคาย จ.หนองคาย,2018-10-01,1010.47,1011.63,1011.63,1011.91,1012.22,1011.63,1011.61,...,1012.16,1012.58,1013.42,1013.89,1013.66,1012.7,1012.71,1013.87,1011.947097,ขอนแก่น
36,34,352201-หนองคาย จ.หนองคาย,2018-11-01,1013.50,1013.96,1014.10,1013.05,1012.12,1012.11,1012.37,...,1014.18,1013.51,1013.95,1015.92,1015.71,1015.89,1014.52,-,1012.627667,ขอนแก่น
37,35,352201-หนองคาย จ.หนองคาย,2018-12-01,1012.48,1011.29,1011.47,1011.69,1010.70,1009.97,1010.74,...,1012.12,1011.17,1009.81,1009.58,1011.02,1014.95,1017.04,1019.08,1013.455161,ขอนแก่น
38,36,352201-หนองคาย จ.หนองคาย,2019-01-01,1019.06,1018.25,1018.03,1016.94,1015.36,1014.87,1013.64,...,1014.71,1015.12,1017.06,1017.11,1015.93,1014.39,1014.12,1014.12,1014.759677,ขอนแก่น
39,37,352201-หนองคาย จ.หนองคาย,2019-02-01,1014.93,1013.13,1012.71,1012.92,1011.68,1009.89,1010.78,...,1008.63,1009.36,1010.52,1009.81,1008.33,-,-,-,1011.753571,ขอนแก่น
40,38,352201-หนองคาย จ.หนองคาย,2019-10-01,1009.73,1009.64,1009.30,1009.99,1010.62,1011.12,1011.16,...,1009.48,1011.38,1011.52,1010.91,1010.81,1011.95,1012.02,1010.36,1011.002903,ขอนแก่น
41,39,352201-หนองคาย จ.หนองคาย,2019-11-01,1010.27,1010.69,1011.01,1012.42,1010.78,1009.42,1010.89,...,1012.68,1014.43,1013.98,1013.13,1014.15,1014.29,1013.6,1010.36,1012.421613,ขอนแก่น
42,40,352201-หนองคาย จ.หนองคาย,2019-12-01,1012.81,1015.07,1017.05,1018.56,1019.41,1020.43,1020.26,...,1011.94,1011.10,1011.34,1013.22,1014.32,1013.81,1014.76,1016.49,1014.847742,ขอนแก่น
43,41,352201-หนองคาย จ.หนองคาย,2020-01-01,1017.80,1018.04,1016.21,1014.33,1013.76,1013.74,1012.64,...,1010.53,1008.93,1008.84,1009.65,1011.14,1013.8,1015.25,1015.43,1012.816774,ขอนแก่น
44,42,352201-หนองคาย จ.หนองคาย,2020-02-01,1014.57,1014.85,1013.17,1011.85,1012.19,1012.60,1013.20,...,1014.74,1012.35,1012.54,1012.56,1011.53,1010.22,-,-,1013.882414,ขอนแก่น
45,43,352201-หนองคาย จ.หนองคาย,2020-10-01,1005.67,1006.21,1007.56,1008.25,1008.60,1008.88,1008.64,...,1011.84,1010.77,1010.94,1009.87,1007.73,1006.46,1011.34,1012.11,1008.659677,ขอนแก่น
46,44,352201-หนองคาย จ.หนองคาย,2020-11-01,1012.18,1012.74,1013.72,1013.71,1013.32,1013.43,1014.50,...,1012.99,1012.89,1013.69,1014.92,1015.28,1015.33,1015.85,-,1013.199000,ขอนแก่น
47,45,352201-หนองคาย จ.หนองคาย,2020-12-01,1016.17,1014.73,1015.23,1016.08,1016.58,1016.28,1015.71,...,1011.89,1012.57,1012.30,1010.83,1009.91,1009.95,1013.86,1018.27,1013.962903,ขอนแก่น
48,46,352201-หนองคาย จ.หนองคาย,2021-01-01,1018.63,1017.35,1015.20,1015.49,1014.24,1012.99,1012.07,...,1011.56,1011.04,1011.50,1011.67,1013.78,1015.66,1015.24,1014.93,1014.457742,ขอนแก่น
49,47,352201-หนองคาย จ.หนองคาย,2021-02-01,1014.44,1014.14,1014.30,1015.04,1014.19,1013.19,1012.24,...,1008.40,1006.24,1004.28,1005.45,1007.80,-,-,-,1012.162857,ขอนแก่น
50,48,352201-หนองคาย จ.หนองคาย,2021-10-01,1008.12,1008.74,1008.64,1008.16,1007.42,1005.93,1004.61,...,1015.08,1013.52,1012.33,1012.16,1012.33,1013.04,1013.26,1012.96,1009.382903,ขอนแก่น
51,49,352201-หนองคาย จ.หนองคาย,2021-11-01,1013.23,1013.04,1012.50,1011.41,1009.71,1007.97,1007.80,...,1014.70,1014.53,1014.41,1015.51,1014.45,1013.37,1013.98,-,1012.167000,ขอนแก่น
52,50,352201-หนองคาย จ.หนองคาย,2021-12-01,1015.80,1017.00,1018.68,1018.13,1017.43,1016.91,1016.72,...,1012.30,1013.87,1015.64,1017.06,1017.58,1016.4,1017.83,1018.39,1015.712903,ขอนแก่น
53,1,352201-หนองคาย จ.หนองคาย,2022-01-01,1017.75,1016.89,1015.26,1014.98,1013.66,1014.12,1014.99,...,1010.19,1010.22,1010.70,1010.80,1010.52,1008.55,1007.99,1008.91,1012.889032,ขอนแก่น
54,2,352201-หนองคาย จ.หนองคาย,2022-02-01,1010.90,1012.02,1012.12,1013.77,1015.52,1014.63,1011.54,...,1019.04,1018.41,1016.05,1014.37,1013.04,1013.37,1013.98,-,1012.456667,ขอนแก่น

In [225]:
NP_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [226]:
NP_pressure['จังหวัด']='นครพนม'

In [227]:
L_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

In [228]:
L_pressure['จังหวัด']='เลย'

In [229]:
SK_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=4).drop(0, axis=0)

In [230]:
SK_pressure['จังหวัด']='สกลนคร'

In [231]:
NK_pressure = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [232]:
NK_pressure['จังหวัด']='นครพนม'

## Relative humidity ความชื้นสัมพัทธ์

In [233]:
KK_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [234]:
NP_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [235]:
SK_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=4).drop(0, axis=0)

In [236]:
NK_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [237]:
L_rh = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

## Wind Speed ความเร็วลม

In [238]:
KK_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [239]:
NP_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [240]:
SK_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',skiprows=4).drop(0, axis=0)

In [241]:
NK_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [242]:
L_ws =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

## CLound Amount

In [243]:
KK_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [244]:
NP_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [245]:
SK_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',skiprows=4).drop(0, axis=0)

In [246]:
NK_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [247]:
L_ca = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

In [248]:
L_ca =L_ca.iloc[:,:35] #เลือกเฉพาะ ถึงคอลลัมน์ค่าเฉลี่ย

## amount of rain

In [249]:
KK_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [250]:
NP_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [251]:
SK_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',skiprows=4).drop(0, axis=0)

In [252]:
NK_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [253]:
L_ar = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

## dew point temperature อุณหภูมิจุดน้ำค้าง

In [254]:
KK_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [255]:
NP_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [256]:
SK_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [257]:
NK_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [258]:
L_dpt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

##  dry weight temperature ตุ้มแห้ง

In [259]:
KK_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [260]:
NP_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [261]:
SK_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',skiprows=4).drop(0, axis=0)

In [262]:
NK_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [263]:
L_dwt = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

## lowest temperature อุณหภูมิต่ำสุด

In [264]:
KK_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=4).drop(0, axis=0)

In [265]:
NP_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',skiprows=4).drop(0, axis=0)

In [266]:
SK_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',skiprows=4).drop(0, axis=0)

In [267]:
NK_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=4).drop(0, axis=0)

In [268]:
L_lt =pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',skiprows=4).drop(0, axis=0)

#ส่วนรวมตาราง

In [269]:
pressure = pd.concat([KK_pressure,NP_pressure,SK_pressure,L_pressure,NK_pressure])

In [321]:
pressure

,station,province,month,year,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,352201-หนองคาย,หนองคาย,11,2011,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,...,1013.63,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-
2,352201-หนองคาย,หนองคาย,12,2011,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,...,1012.88,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4
3,352201-หนองคาย,หนองคาย,1,2012,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,...,1009.62,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52
4,352201-หนองคาย,หนองคาย,2,2012,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,...,1006.99,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-
5,352201-หนองคาย,หนองคาย,10,2012,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,...,1011.87,1010.93,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,352201-หนองคาย,หนองคาย,10,2021,1008.43,1008.34,1008.24,1008.42,1007.69,1005.89,...,1013.51,1015.30,1014.89,1013.39,1012.31,1012.32,1012.01,1013.2,1013.23,1012.88
51,352201-หนองคาย,หนองคาย,11,2021,1012.91,1013.02,1012.15,1011.46,1009.40,1007.50,...,1011.01,1013.19,1014.92,1014.61,1014.41,1015.38,1014.90,1013.6,1014.54,-
52,352201-หนองคาย,หนองคาย,12,2021,1015.91,1017.25,1018.56,1018.62,1017.53,1016.78,...,1013.42,1012.90,1012.60,1014.50,1015.92,1017.25,1017.72,1016.77,1018.16,1018.61
53,352201-หนองคาย,หนองคาย,1,2022,1018.23,1017.43,1015.47,1014.62,1013.71,1013.76,...,1010.65,1010.13,1010.22,1010.08,1010.58,1010.70,1010.58,1008.71,1008.14,1009.05
54,352201-หนองคาย,หนองคาย,2,2022,1011.36,1012.78,1012.90,1013.71,1015.78,1014.38,...,1016.39,1018.04,1019.23,1018.46,1016.68,1015.31,1013.06,-,-,-

In [271]:
rh = pd.concat([KK_rh,NP_rh,SK_rh,L_rh,L_rh])

In [272]:
ws = pd.concat([KK_ws,NP_ws,L_ws,NK_ws,SK_ws])

In [273]:
ca = pd.concat([KK_ca,NP_ca,SK_ca,NK_ca,L_ca])

In [274]:
ar = pd.concat([KK_ar,NP_ar,NK_ar,SK_ar,L_ar])

In [275]:
dpt = pd.concat([KK_dpt,NP_dpt,NK_dpt,SK_dpt,L_dpt])

In [276]:
dwt = pd.concat([KK_dwt,NP_dwt,SK_dwt,NK_dwt,L_dwt])

In [277]:
lt = pd.concat([KK_lt,NP_lt,NK_lt,SK_lt,L_lt])

##ส่วนเปลี่ยนชื่อคอลลัมน์ในตาราง

In [278]:
pressure=pressure.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [279]:
rh=rh.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [280]:
ws=ws.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [281]:
ca=ca.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [282]:
ar=ar.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [283]:
dpt=dpt.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [284]:
dwt=dwt.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

In [285]:
lt=lt.rename(columns={'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'วันเดือนปี','Unnamed: 34':'ค่าเฉลี่ย'})

##เปลี่ยนวันเดือนปี เป็น วัน/เดือน/ปี

In [286]:
pressure["day"] = pressure['วันเดือนปี'].map(lambda x: x.day)
pressure["month"] = pressure['วันเดือนปี'].map(lambda x: x.month)
pressure["year"] = pressure['วันเดือนปี'].map(lambda x: x.year)

In [287]:
pressure

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,27,28,29,30,31,ค่าเฉลี่ย,จังหวัด,day,month,year
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1011.31,1009.59,1010.13,1010.47,-,1011.717000,ขอนแก่น,1,11,2011
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000,ขอนแก่น,1,12,2011
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516,ขอนแก่น,1,1,2012
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1006.57,1005.96,1006.53,1010.47,-,1009.749667,ขอนแก่น,1,2,2012
5,3,352201-หนองคาย จ.หนองคาย,2012-10-01,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,1010.11,...,1008.67,1008.41,1008.71,1008.7,1011.83,1010.386452,ขอนแก่น,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,352201-หนองคาย จ.หนองคาย,2021-10-01,1008.43,1008.34,1008.24,1008.42,1007.69,1005.89,1004.30,...,1012.32,1012.01,1013.2,1013.23,1012.88,1009.137097,นครพนม,1,10,2021
51,49,352201-หนองคาย จ.หนองคาย,2021-11-01,1012.91,1013.02,1012.15,1011.46,1009.40,1007.50,1008.19,...,1015.38,1014.90,1013.6,1014.54,-,1012.143667,นครพนม,1,11,2021
52,50,352201-หนองคาย จ.หนองคาย,2021-12-01,1015.91,1017.25,1018.56,1018.62,1017.53,1016.78,1016.78,...,1017.25,1017.72,1016.77,1018.16,1018.61,1015.897097,นครพนม,1,12,2021
53,1,352201-หนองคาย จ.หนองคาย,2022-01-01,1018.23,1017.43,1015.47,1014.62,1013.71,1013.76,1015.39,...,1010.70,1010.58,1008.71,1008.14,1009.05,1012.938065,นครพนม,1,1,2022
54,2,352201-หนองคาย จ.หนองคาย,2022-02-01,1011.36,1012.78,1012.90,1013.71,1015.78,1014.38,1011.54,...,1015.31,1013.06,-,-,-,1012.519286,นครพนม,1,2,2022

In [288]:
rh["day"] = rh['วันเดือนปี'].map(lambda x: x.day)
rh["month"] = rh['วันเดือนปี'].map(lambda x: x.month)
rh["year"] = rh['วันเดือนปี'].map(lambda x: x.year)

In [289]:
rh

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,67,68,67,67,65,-,68,1,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,60,62,65,66,63,64,63,1,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,71,75,69,70,67,68,69,1,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,57,71,73,68,-,-,65,1,2,2012
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,73,73,72,81,83,73,70,...,69,62,64,69,74,68,72,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,91,88,87,86,84,88,83,...,88,89,88,93,89,90,89,1,10,2021
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,90,86,85,86,83,85,84,...,77,82,80,81,77,-,82,1,11,2021
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,76,73,73,72,70,70,69,...,77,75,76,78,76,72,75,1,12,2021
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,74,74,77,79,74,73,76,...,68,70,72,68,65,67,75,1,1,2022
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,75,75,82,82,78,81,71,...,74,74,72,-,-,-,80,1,2,2022

In [290]:
ws["day"] = ws['วันเดือนปี'].map(lambda x: x.day)
ws["month"] = ws['วันเดือนปี'].map(lambda x: x.month)
ws["year"] = ws['วันเดือนปี'].map(lambda x: x.year)
ws

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,5,3,1,3,3,-,3.466667,1,11,2011
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,6,5,4,4,6,5,4.806452,1,12,2011
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,2,2,1,3,4,4,3.129032,1,1,2012
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,2,4,3,3,3,-,2.566667,1,2,2012
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,2,2,1,2,2,5,7,...,4,5,2,2,3,5,3.225806,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,1,1,3,2,3,3,3,...,2,1,2,2,1,2,2.290323,1,10,2021
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,1,2,2,-,1,1,1,...,2,3,3,2,4,-,2.310345,1,11,2021
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,2,4,3,1,3,2,1,...,2,3,2,2,3,3,2.129032,1,12,2021
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,2,3,1,2,1,...,2,3,3,2,4,3,2.290323,1,1,2022
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,4,3,4,4,5,2,1,...,4,3,2,-,-,-,3.035714,1,2,2022

In [291]:
ca["day"] = ca['วันเดือนปี'].map(lambda x: x.day)
ca["month"] = ca['วันเดือนปี'].map(lambda x: x.month)
ca["year"] = ca['วันเดือนปี'].map(lambda x: x.year)
ca

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,2,2,1,3,2,-,3.533333,1,11,2011
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,3,1,2,1,1,1,3.516129,1,12,2011
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,3,2,5,6,10,10,5.354839,1,1,2012
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,1,4,5,1,2,-,2.533333,1,2,2012
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,5,3,3,7,8,7,9,...,4,3,6,5,5,4,4.548387,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,4,2,5,2,4,5,4,...,1,3,6,9,5,4,5.612903,1,10,2021
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,4,3,2,1,1,1,1,...,3,3,1,1,1,-,2.466667,1,11,2021
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,1,1,1,-,0,0,-,...,3,4,-,3,2,1,1.875000,1,12,2021
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,1,3,-,-,0,...,1,1,1,1,1,0,1.925926,1,1,2022
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,3,5,5,5,7,6,1,...,0,3,2,-,-,-,4.925926,1,2,2022

In [292]:
ar["day"] = ar['วันเดือนปี'].map(lambda x: x.day)
ar["month"] = ar['วันเดือนปี'].map(lambda x: x.month)
ar["year"] = ar['วันเดือนปี'].map(lambda x: x.year)
ar

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,-,11.8,1,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-,1,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,T,0,38.7,1,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,-,-,T,1,2,2012
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,0,0,0,T,0.3,0,21.9,...,1.1,0,0,0,0,0,34.4,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353201-เลย จ.เลย,2021-10-01,2.8,0,5.6,0,1.8,1.2,0,...,0,0,7.4,0.8,0,-,234.7,1,10,2021
51,49,353201-เลย จ.เลย,2021-11-01,0,0,0,0,0,0,4,...,0,0,0,0,-,-,4.2,1,11,2021
52,50,353201-เลย จ.เลย,2021-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-,1,12,2021
53,1,353201-เลย จ.เลย,2022-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,13.4,1,1,2022
54,2,353201-เลย จ.เลย,2022-02-01,0.2,0,0,0,0.8,0,0,...,0,0,0,-,-,-,74.1,1,2,2022

In [293]:
dpt["day"] = dpt['วันเดือนปี'].map(lambda x: x.day)
dpt["month"] = dpt['วันเดือนปี'].map(lambda x: x.month)
dpt["year"] = dpt['วันเดือนปี'].map(lambda x: x.year)
dpt

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,18.3,19.2,18.9,19,18.3,-,18.910000,1,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,9.7,12.4,16.1,16.3,16.1,16.3,14.525806,1,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,16.3,19.5,19.7,19.4,18.7,16.7,18.058065,1,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,18.8,22.3,22.1,21.3,-,-,18.772414,1,2,2012
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,21.3,21.8,22.3,24.1,24.0,21.5,20.3,...,20.9,19.2,21.0,22.5,22.9,20.4,21.551613,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,43,353201-เลย จ.เลย,2020-10-01,24.6,24.4,23.9,24.2,24.4,23.5,23.1,...,21.1,21.8,22.2,22,23.1,22.5,22.254839,1,10,2020
46,44,353201-เลย จ.เลย,2020-11-01,22.8,22.3,21.6,20.9,21.4,21.6,21.7,...,19.6,19.2,18.3,18.1,17.2,-,20.093333,1,11,2020
47,45,353201-เลย จ.เลย,2020-12-01,17.1,17.8,17.3,14.4,13.2,13.9,14.4,...,18.4,19.3,19.4,18.3,16.5,10.7,16.041935,1,12,2020
48,46,353201-เลย จ.เลย,2021-01-01,10.0,9.7,10.8,13.9,16.0,17.3,16.9,...,15.7,16.7,16.9,15,14.7,15.2,13.145161,1,1,2021
49,47,353201-เลย จ.เลย,2021-02-01,16.5,17.2,16.3,14.2,14.8,15.0,15.8,...,13.0,13.8,15.2,-,-,-,15.782143,1,2,2021

In [294]:
dwt["day"] = dwt['วันเดือนปี'].map(lambda x: x.day)
dwt["month"] = dwt['วันเดือนปี'].map(lambda x: x.month)
dwt["year"] = dwt['วันเดือนปี'].map(lambda x: x.year)
dwt

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,25.5,26.1,26.2,26,26,-,25.8,1,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,18.3,20.4,23.5,23.7,24.2,24.1,22.4,1,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,23.8,24.5,25.0,24.8,22.8,23.4,23.1,...,22.1,24.6,26.3,25.6,25.3,23,24.4,1,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,23.9,25.4,25.3,24.8,27.2,28.2,28.3,...,29.2,28.2,27.5,28.5,-,-,26.5,1,2,2012
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,26.8,27.4,28.3,27.9,27.4,27.3,26.5,...,27.6,27.8,28.8,29,28.3,27.5,27.6,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,43,353201-เลย จ.เลย,2020-10-01,27.5,27.1,26.3,27.7,26.5,27.6,27.1,...,23.6,25.6,26.3,23.1,24.6,24.8,25.5,1,10,2020
46,44,353201-เลย จ.เลย,2020-11-01,26.7,26.1,26.0,25.8,25.8,26.0,25.1,...,25.3,24.5,24.9,23.7,23.1,-,25.3,1,11,2020
47,45,353201-เลย จ.เลย,2020-12-01,22.9,23.1,23.6,21.9,20.1,19.7,20.2,...,23.7,25.1,25.7,25.3,23.8,20.3,22.2,1,12,2020
48,46,353201-เลย จ.เลย,2021-01-01,18.0,16.8,18.1,20.2,22.5,23.3,23.6,...,23.2,24.0,24.5,23.5,21.6,22.6,20.8,1,1,2021
49,47,353201-เลย จ.เลย,2021-02-01,23.7,24.8,25.1,24.3,23.4,23.8,24.1,...,26.3,25.2,25.6,-,-,-,24.1,1,2,2021

In [295]:
lt["day"] = lt['วันเดือนปี'].map(lambda x: x.day)
lt["month"] = lt['วันเดือนปี'].map(lambda x: x.month)
lt["year"] = lt['วันเดือนปี'].map(lambda x: x.year)
lt

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,26,27,28,29,30,31,ค่าเฉลี่ย,day,month,year
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,18.9,20.2,20.1,20.2,19.8,-,20.3,1,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,11.6,13.2,16.5,16.7,18.4,17,16.4,1,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,17.7,19.6,20.4,20.7,16.8,16.9,16.8,...,16.2,17.5,21.6,20.8,21.6,20.1,19.4,1,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,19.4,20.5,20.9,20.9,21.5,21.1,20.7,...,21.3,23.4,22,22.2,-,-,20.1,1,2,2012
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,22.5,22.5,23.5,24.2,24.0,23.2,21.9,...,23.3,22.6,23.7,24.3,24.3,22.7,23.0,1,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353201-เลย จ.เลย,2021-10-01,24.3,23.8,24.0,23.0,22.5,23.6,23.0,...,20.4,20.8,20.5,22.5,23.1,-,22.7,1,10,2021
51,49,353201-เลย จ.เลย,2021-11-01,23.4,23.0,23.0,21.0,21.3,20.4,20.8,...,19.6,17.6,15.8,15.8,-,-,20.4,1,11,2021
52,50,353201-เลย จ.เลย,2021-12-01,15.5,15.6,13.4,10.5,9.2,11.1,12.0,...,18.9,18.9,15.5,16.1,18.4,17.8,14.8,1,12,2021
53,1,353201-เลย จ.เลย,2022-01-01,16.4,16.6,15.0,15.9,14.1,14.2,14.8,...,15.5,16.0,16.6,16.7,15.5,15,16.2,1,1,2022
54,2,353201-เลย จ.เลย,2022-02-01,15.5,19.5,20.5,20.0,18.0,17.5,17.1,...,13.5,15.0,17.6,-,-,-,18.3,1,2,2022

## เปลี่ยนสถานี เป็น station/province

In [296]:
pressure[['station','province']]=pressure['สถานี'].apply(lambda x: pd.Series(str(x).split(" จ.")))
print(pressure)
pressure

     ที่                     สถานี วันเดือนปี        1        2        3  \
1    2    352201-หนองคาย จ.หนองคาย 2011-11-01  1011.79  1010.83  1010.74
2    3    352201-หนองคาย จ.หนองคาย 2011-12-01  1011.43  1012.57  1012.28
3    1    352201-หนองคาย จ.หนองคาย 2012-01-01  1015.67  1014.11  1012.91
4    2    352201-หนองคาย จ.หนองคาย 2012-02-01  1013.26  1012.92  1013.61
5    3    352201-หนองคาย จ.หนองคาย 2012-10-01  1011.50  1011.11  1008.60
..   ...                       ...        ...      ...      ...      ...
50  48    352201-หนองคาย จ.หนองคาย 2021-10-01  1008.43  1008.34  1008.24
51  49    352201-หนองคาย จ.หนองคาย 2021-11-01  1012.91  1013.02  1012.15
52  50    352201-หนองคาย จ.หนองคาย 2021-12-01  1015.91  1017.25  1018.56
53   1    352201-หนองคาย จ.หนองคาย 2022-01-01  1018.23  1017.43  1015.47
54   2    352201-หนองคาย จ.หนองคาย 2022-02-01  1011.36  1012.78  1012.90

          4        5        6        7  ...       29       30       31  \
1   1010.71  1010.09  1009.24  1008.03  ...  1010.13  1010.47        -
2   1012.97  1013.09  1012.03  1012.05  ...  1014.98  1015.53   1016.4
3   1014.06  1015.51  1015.88  1017.72  ...  1010.69  1012.34  1014.52
4   1013.18  1011.26  1008.80  1008.16  ...  1006.53  1010.47        -
5   1007.07  1008.17  1010.06  1010.11  ...  1008.71   1008.7  1011.83
..      ...      ...      ...      ...  ...      ...      ...      ...
50  1008.42  1007.69  1005.89  1004.30  ...   1013.2  1013.23  1012.88
51  1011.46  1009.40  1007.50  1008.19  ...   1013.6  1014.54        -
52  1018.62  1017.53  1016.78  1016.78  ...  1016.77  1018.16  1018.61
53  1014.62  1013.71  1013.76  1015.39  ...  1008.71  1008.14  1009.05
54  1013.71  1015.78  1014.38  1011.54  ...        -        -        -

      ค่าเฉลี่ย  จังหวัด  day  month  year         station  province
1   1011.717000  ขอนแก่น    1     11  2011  352201-หนองคาย   หนองคาย
2   1016.470000  ขอนแก่น    1     12  2011  352201-หนองคาย   หนองคาย
3   1012.484516  ขอนแก่น    1      1  2012  352201-หนองคาย   หนองคาย
4   1009.749667  ขอนแก่น    1      2  2012  352201-หนองคาย   หนองคาย
5   1010.386452  ขอนแก่น    1     10  2012  352201-หนองคาย   หนองคาย
..          ...      ...  ...    ...   ...             ...       ...
50  1009.137097   นครพนม    1     10  2021  352201-หนองคาย   หนองคาย
51  1012.143667   นครพนม    1     11  2021  352201-หนองคาย   หนองคาย
52  1015.897097   นครพนม    1     12  2021  352201-หนองคาย   หนองคาย
53  1012.938065   นครพนม    1      1  2022  352201-หนองคาย   หนองคาย
54  1012.519286   นครพนม    1      2  2022  352201-หนองคาย   หนองคาย

[270 rows x 41 columns]

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,29,30,31,ค่าเฉลี่ย,จังหวัด,day,month,year,station,province
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1010.13,1010.47,-,1011.717000,ขอนแก่น,1,11,2011,352201-หนองคาย,หนองคาย
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1014.98,1015.53,1016.4,1016.470000,ขอนแก่น,1,12,2011,352201-หนองคาย,หนองคาย
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.69,1012.34,1014.52,1012.484516,ขอนแก่น,1,1,2012,352201-หนองคาย,หนองคาย
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1006.53,1010.47,-,1009.749667,ขอนแก่น,1,2,2012,352201-หนองคาย,หนองคาย
5,3,352201-หนองคาย จ.หนองคาย,2012-10-01,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,1010.11,...,1008.71,1008.7,1011.83,1010.386452,ขอนแก่น,1,10,2012,352201-หนองคาย,หนองคาย
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,352201-หนองคาย จ.หนองคาย,2021-10-01,1008.43,1008.34,1008.24,1008.42,1007.69,1005.89,1004.30,...,1013.2,1013.23,1012.88,1009.137097,นครพนม,1,10,2021,352201-หนองคาย,หนองคาย
51,49,352201-หนองคาย จ.หนองคาย,2021-11-01,1012.91,1013.02,1012.15,1011.46,1009.40,1007.50,1008.19,...,1013.6,1014.54,-,1012.143667,นครพนม,1,11,2021,352201-หนองคาย,หนองคาย
52,50,352201-หนองคาย จ.หนองคาย,2021-12-01,1015.91,1017.25,1018.56,1018.62,1017.53,1016.78,1016.78,...,1016.77,1018.16,1018.61,1015.897097,นครพนม,1,12,2021,352201-หนองคาย,หนองคาย
53,1,352201-หนองคาย จ.หนองคาย,2022-01-01,1018.23,1017.43,1015.47,1014.62,1013.71,1013.76,1015.39,...,1008.71,1008.14,1009.05,1012.938065,นครพนม,1,1,2022,352201-หนองคาย,หนองคาย
54,2,352201-หนองคาย จ.หนองคาย,2022-02-01,1011.36,1012.78,1012.90,1013.71,1015.78,1014.38,1011.54,...,-,-,-,1012.519286,นครพนม,1,2,2022,352201-หนองคาย,หนองคาย

In [297]:
rh['สถานี']

1     381201-ขอนแก่น จ.ขอนแก่น
2     381201-ขอนแก่น จ.ขอนแก่น
3     381201-ขอนแก่น จ.ขอนแก่น
4     381201-ขอนแก่น จ.ขอนแก่น
5     381201-ขอนแก่น จ.ขอนแก่น
                ...
50       353301-เลย สกษ. จ.เลย
51       353301-เลย สกษ. จ.เลย
52       353301-เลย สกษ. จ.เลย
53       353301-เลย สกษ. จ.เลย
54       353301-เลย สกษ. จ.เลย
Name: สถานี, Length: 270, dtype: object

In [298]:
rh[['station','province']]=rh['สถานี'].apply(lambda x: pd.Series(str(x).split(". ")))
rh[['station','province']]=rh['สถานี'].apply(lambda x: pd.Series(str(x).split(" จ.")))

In [299]:
rh

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,28,29,30,31,ค่าเฉลี่ย,day,month,year,station,province
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,67,67,65,-,68,1,11,2011,381201-ขอนแก่น,ขอนแก่น
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,65,66,63,64,63,1,12,2011,381201-ขอนแก่น,ขอนแก่น
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,69,70,67,68,69,1,1,2012,381201-ขอนแก่น,ขอนแก่น
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,73,68,-,-,65,1,2,2012,381201-ขอนแก่น,ขอนแก่น
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,73,73,72,81,83,73,70,...,64,69,74,68,72,1,10,2012,381201-ขอนแก่น,ขอนแก่น
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,91,88,87,86,84,88,83,...,88,93,89,90,89,1,10,2021,353301-เลย สกษ.,เลย
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,90,86,85,86,83,85,84,...,80,81,77,-,82,1,11,2021,353301-เลย สกษ.,เลย
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,76,73,73,72,70,70,69,...,76,78,76,72,75,1,12,2021,353301-เลย สกษ.,เลย
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,74,74,77,79,74,73,76,...,72,68,65,67,75,1,1,2022,353301-เลย สกษ.,เลย
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,75,75,82,82,78,81,71,...,72,-,-,-,80,1,2,2022,353301-เลย สกษ.,เลย

In [300]:
ws[['station','province']]=ws['สถานี'].apply(lambda x: pd.Series(str(x).split(" จ.")))
print(ws)
ws

     ที่                  สถานี วันเดือนปี  1  2  3  4  5  6  7  ... 28  29  \
1    2    353301-เลย สกษ. จ.เลย 2011-11-01  4  5  3  3  5  2  3  ...  1   3
2    3    353301-เลย สกษ. จ.เลย 2011-12-01  3  4  4  4  4  4  4  ...  4   4
3    1    353301-เลย สกษ. จ.เลย 2012-01-01  4  2  1  4  4  2  4  ...  1   3
4    2    353301-เลย สกษ. จ.เลย 2012-02-01  2  2  3  2  3  1  2  ...  3   3
5    3    353301-เลย สกษ. จ.เลย 2012-10-01  2  2  1  2  2  5  7  ...  2   2
..   ...                    ...        ... .. .. .. .. .. .. ..  ... ..  ..
50  48    353301-เลย สกษ. จ.เลย 2021-10-01  1  1  3  2  3  3  3  ...  2   2
51  49    353301-เลย สกษ. จ.เลย 2021-11-01  1  2  2  -  1  1  1  ...  3   2
52  50    353301-เลย สกษ. จ.เลย 2021-12-01  2  4  3  1  3  2  1  ...  2   2
53   1    353301-เลย สกษ. จ.เลย 2022-01-01  3  2  2  3  1  2  1  ...  3   2
54   2    353301-เลย สกษ. จ.เลย 2022-02-01  4  3  4  4  5  2  1  ...  2   -

   30 31 ค่าเฉลี่ย  day  month  year          station  province
1   3  -  3.466667    1     11  2011  353301-เลย สกษ.       เลย
2   6  5  4.806452    1     12  2011  353301-เลย สกษ.       เลย
3   4  4  3.129032    1      1  2012  353301-เลย สกษ.       เลย
4   3  -  2.566667    1      2  2012  353301-เลย สกษ.       เลย
5   3  5  3.225806    1     10  2012  353301-เลย สกษ.       เลย
.. .. ..       ...  ...    ...   ...              ...       ...
50  1  2  2.290323    1     10  2021  353301-เลย สกษ.       เลย
51  4  -  2.310345    1     11  2021  353301-เลย สกษ.       เลย
52  3  3  2.129032    1     12  2021  353301-เลย สกษ.       เลย
53  4  3  2.290323    1      1  2022  353301-เลย สกษ.       เลย
54  -  -  3.035714    1      2  2022  353301-เลย สกษ.       เลย

[270 rows x 40 columns]

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,28,29,30,31,ค่าเฉลี่ย,day,month,year,station,province
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,1,3,3,-,3.466667,1,11,2011,353301-เลย สกษ.,เลย
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,4,4,6,5,4.806452,1,12,2011,353301-เลย สกษ.,เลย
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,1,3,4,4,3.129032,1,1,2012,353301-เลย สกษ.,เลย
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,3,3,3,-,2.566667,1,2,2012,353301-เลย สกษ.,เลย
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,2,2,1,2,2,5,7,...,2,2,3,5,3.225806,1,10,2012,353301-เลย สกษ.,เลย
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,1,1,3,2,3,3,3,...,2,2,1,2,2.290323,1,10,2021,353301-เลย สกษ.,เลย
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,1,2,2,-,1,1,1,...,3,2,4,-,2.310345,1,11,2021,353301-เลย สกษ.,เลย
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,2,4,3,1,3,2,1,...,2,2,3,3,2.129032,1,12,2021,353301-เลย สกษ.,เลย
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,2,3,1,2,1,...,3,2,4,3,2.290323,1,1,2022,353301-เลย สกษ.,เลย
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,4,3,4,4,5,2,1,...,2,-,-,-,3.035714,1,2,2022,353301-เลย สกษ.,เลย

In [301]:
ca[['station','province']]=ca['สถานี'].apply(lambda x: pd.Series(str(x).split(" จ.")))
print(ca)
ca

     ที่                  สถานี วันเดือนปี  1  2  3  4  5  6  7  ... 28 29  \
1    2    353301-เลย สกษ. จ.เลย 2011-11-01  2  2  2  2  3  6  9  ...  1  3
2    3    353301-เลย สกษ. จ.เลย 2011-12-01  2  3  4  4  5  8  7  ...  2  1
3    1    353301-เลย สกษ. จ.เลย 2012-01-01  1  4  7  6  3  1  3  ...  5  6
4    2    353301-เลย สกษ. จ.เลย 2012-02-01  6  6  8  8  3  3  1  ...  5  1
5    3    353301-เลย สกษ. จ.เลย 2012-10-01  5  3  3  7  8  7  9  ...  6  5
..   ...                    ...        ... .. .. .. .. .. .. ..  ... .. ..
50  48    353301-เลย สกษ. จ.เลย 2021-10-01  4  2  5  2  4  5  4  ...  6  9
51  49    353301-เลย สกษ. จ.เลย 2021-11-01  4  3  2  1  1  1  1  ...  1  1
52  50    353301-เลย สกษ. จ.เลย 2021-12-01  1  1  1  -  0  0  -  ...  -  3
53   1    353301-เลย สกษ. จ.เลย 2022-01-01  3  2  1  3  -  -  0  ...  1  1
54   2    353301-เลย สกษ. จ.เลย 2022-02-01  3  5  5  5  7  6  1  ...  2  -

    30  31 ค่าเฉลี่ย day month  year          station province
1    2   -  3.533333   1    11  2011  353301-เลย สกษ.      เลย
2    1   1  3.516129   1    12  2011  353301-เลย สกษ.      เลย
3   10  10  5.354839   1     1  2012  353301-เลย สกษ.      เลย
4    2   -  2.533333   1     2  2012  353301-เลย สกษ.      เลย
5    5   4  4.548387   1    10  2012  353301-เลย สกษ.      เลย
..  ..  ..       ...  ..   ...   ...              ...      ...
50   5   4  5.612903   1    10  2021  353301-เลย สกษ.      เลย
51   1   -  2.466667   1    11  2021  353301-เลย สกษ.      เลย
52   2   1  1.875000   1    12  2021  353301-เลย สกษ.      เลย
53   1   0  1.925926   1     1  2022  353301-เลย สกษ.      เลย
54   -   -  4.925926   1     2  2022  353301-เลย สกษ.      เลย

[270 rows x 40 columns]

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,28,29,30,31,ค่าเฉลี่ย,day,month,year,station,province
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,1,3,2,-,3.533333,1,11,2011,353301-เลย สกษ.,เลย
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,2,1,1,1,3.516129,1,12,2011,353301-เลย สกษ.,เลย
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,5,6,10,10,5.354839,1,1,2012,353301-เลย สกษ.,เลย
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,5,1,2,-,2.533333,1,2,2012,353301-เลย สกษ.,เลย
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,5,3,3,7,8,7,9,...,6,5,5,4,4.548387,1,10,2012,353301-เลย สกษ.,เลย
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,4,2,5,2,4,5,4,...,6,9,5,4,5.612903,1,10,2021,353301-เลย สกษ.,เลย
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,4,3,2,1,1,1,1,...,1,1,1,-,2.466667,1,11,2021,353301-เลย สกษ.,เลย
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,1,1,1,-,0,0,-,...,-,3,2,1,1.875000,1,12,2021,353301-เลย สกษ.,เลย
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,1,3,-,-,0,...,1,1,1,0,1.925926,1,1,2022,353301-เลย สกษ.,เลย
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,3,5,5,5,7,6,1,...,2,-,-,-,4.925926,1,2,2022,353301-เลย สกษ.,เลย

In [302]:
ar[['station','province']]=ar['สถานี'].apply(lambda x: pd.Series(str(x).split(" จ.")))
print(ar)
ar

     ที่                     สถานี วันเดือนปี    1  2    3  4    5    6     7  \
1    2    381201-ขอนแก่น จ.ขอนแก่น 2011-11-01    0  0    0  0    0    0     0
2    3    381201-ขอนแก่น จ.ขอนแก่น 2011-12-01    0  0    0  0    0    0     0
3    1    381201-ขอนแก่น จ.ขอนแก่น 2012-01-01    0  0    0  0    0    0     0
4    2    381201-ขอนแก่น จ.ขอนแก่น 2012-02-01    0  0    T  0    0    0     0
5    3    381201-ขอนแก่น จ.ขอนแก่น 2012-10-01    0  0    0  T  0.3    0  21.9
..   ...                       ...        ...  ... ..  ... ..  ...  ...   ...
50  48            353201-เลย จ.เลย 2021-10-01  2.8  0  5.6  0  1.8  1.2     0
51  49            353201-เลย จ.เลย 2021-11-01    0  0    0  0    0    0     4
52  50            353201-เลย จ.เลย 2021-12-01    0  0    0  0    0    0     0
53   1            353201-เลย จ.เลย 2022-01-01    0  0    0  0    0    0     0
54   2            353201-เลย จ.เลย 2022-02-01  0.2  0    0  0  0.8    0     0

    ...   28   29 30 31 ค่าเฉลี่ย day month  year         station province
1   ...    0    0  0  -      11.8   1    11  2011  381201-ขอนแก่น  ขอนแก่น
2   ...    0    0  0  0         -   1    12  2011  381201-ขอนแก่น  ขอนแก่น
3   ...    0    0  T  0      38.7   1     1  2012  381201-ขอนแก่น  ขอนแก่น
4   ...    0    0  -  -         T   1     2  2012  381201-ขอนแก่น  ขอนแก่น
5   ...    0    0  0  0      34.4   1    10  2012  381201-ขอนแก่น  ขอนแก่น
..  ...  ...  ... .. ..       ...  ..   ...   ...             ...      ...
50  ...  7.4  0.8  0  -     234.7   1    10  2021      353201-เลย      เลย
51  ...    0    0  -  -       4.2   1    11  2021      353201-เลย      เลย
52  ...    0    0  0  0         -   1    12  2021      353201-เลย      เลย
53  ...    0    0  0  0      13.4   1     1  2022      353201-เลย      เลย
54  ...    0    -  -  -      74.1   1     2  2022      353201-เลย      เลย

[270 rows x 40 columns]

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,28,29,30,31,ค่าเฉลี่ย,day,month,year,station,province
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,-,11.8,1,11,2011,381201-ขอนแก่น,ขอนแก่น
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,-,1,12,2011,381201-ขอนแก่น,ขอนแก่น
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,0,0,0,0,0,0,0,...,0,0,T,0,38.7,1,1,2012,381201-ขอนแก่น,ขอนแก่น
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,0,0,T,0,0,0,0,...,0,0,-,-,T,1,2,2012,381201-ขอนแก่น,ขอนแก่น
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,0,0,0,T,0.3,0,21.9,...,0,0,0,0,34.4,1,10,2012,381201-ขอนแก่น,ขอนแก่น
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353201-เลย จ.เลย,2021-10-01,2.8,0,5.6,0,1.8,1.2,0,...,7.4,0.8,0,-,234.7,1,10,2021,353201-เลย,เลย
51,49,353201-เลย จ.เลย,2021-11-01,0,0,0,0,0,0,4,...,0,0,-,-,4.2,1,11,2021,353201-เลย,เลย
52,50,353201-เลย จ.เลย,2021-12-01,0,0,0,0,0,0,0,...,0,0,0,0,-,1,12,2021,353201-เลย,เลย
53,1,353201-เลย จ.เลย,2022-01-01,0,0,0,0,0,0,0,...,0,0,0,0,13.4,1,1,2022,353201-เลย,เลย
54,2,353201-เลย จ.เลย,2022-02-01,0.2,0,0,0,0.8,0,0,...,0,-,-,-,74.1,1,2,2022,353201-เลย,เลย

In [303]:
dpt[['station','province']]=dpt['สถานี'].apply(lambda x: pd.Series(str(x).split(" จ.")))
print(dpt)
dpt

     ที่                     สถานี วันเดือนปี     1     2     3     4     5  \
1    2    381201-ขอนแก่น จ.ขอนแก่น 2011-11-01  20.2  18.5  19.4  19.0  19.2
2    3    381201-ขอนแก่น จ.ขอนแก่น 2011-12-01  17.7  15.3  12.7  14.0  14.6
3    1    381201-ขอนแก่น จ.ขอนแก่น 2012-01-01  16.5  17.4  18.7  17.0  15.3
4    2    381201-ขอนแก่น จ.ขอนแก่น 2012-02-01  18.0  19.6  19.5  19.2  20.7
5    3    381201-ขอนแก่น จ.ขอนแก่น 2012-10-01  21.3  21.8  22.3  24.1  24.0
..   ...                       ...        ...   ...   ...   ...   ...   ...
45  43            353201-เลย จ.เลย 2020-10-01  24.6  24.4  23.9  24.2  24.4
46  44            353201-เลย จ.เลย 2020-11-01  22.8  22.3  21.6  20.9  21.4
47  45            353201-เลย จ.เลย 2020-12-01  17.1  17.8  17.3  14.4  13.2
48  46            353201-เลย จ.เลย 2021-01-01  10.0   9.7  10.8  13.9  16.0
49  47            353201-เลย จ.เลย 2021-02-01  16.5  17.2  16.3  14.2  14.8

       6     7  ...    28    29    30    31  ค่าเฉลี่ย  day  month  year  \
1   20.6  21.3  ...  18.9    19  18.3     -  18.910000    1     11  2011
2   16.6  19.1  ...  16.1  16.3  16.1  16.3  14.525806    1     12  2011
3   16.7  15.6  ...  19.7  19.4  18.7  16.7  18.058065    1      1  2012
4   20.8  19.1  ...  22.1  21.3     -     -  18.772414    1      2  2012
5   21.5  20.3  ...  21.0  22.5  22.9  20.4  21.551613    1     10  2012
..   ...   ...  ...   ...   ...   ...   ...        ...  ...    ...   ...
45  23.5  23.1  ...  22.2    22  23.1  22.5  22.254839    1     10  2020
46  21.6  21.7  ...  18.3  18.1  17.2     -  20.093333    1     11  2020
47  13.9  14.4  ...  19.4  18.3  16.5  10.7  16.041935    1     12  2020
48  17.3  16.9  ...  16.9    15  14.7  15.2  13.145161    1      1  2021
49  15.0  15.8  ...  15.2     -     -     -  15.782143    1      2  2021

           station  province
1   381201-ขอนแก่น   ขอนแก่น
2   381201-ขอนแก่น   ขอนแก่น
3   381201-ขอนแก่น   ขอนแก่น
4   381201-ขอนแก่น   ขอนแก่น
5   381201-ขอนแก่น   ขอนแก่น
..             ...       ...
45      353201-เลย       เลย
46      353201-เลย       เลย
47      353201-เลย       เลย
48      353201-เลย       เลย
49      353201-เลย       เลย

[265 rows x 40 columns]

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,28,29,30,31,ค่าเฉลี่ย,day,month,year,station,province
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,18.9,19,18.3,-,18.910000,1,11,2011,381201-ขอนแก่น,ขอนแก่น
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,16.1,16.3,16.1,16.3,14.525806,1,12,2011,381201-ขอนแก่น,ขอนแก่น
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,19.7,19.4,18.7,16.7,18.058065,1,1,2012,381201-ขอนแก่น,ขอนแก่น
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,22.1,21.3,-,-,18.772414,1,2,2012,381201-ขอนแก่น,ขอนแก่น
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,21.3,21.8,22.3,24.1,24.0,21.5,20.3,...,21.0,22.5,22.9,20.4,21.551613,1,10,2012,381201-ขอนแก่น,ขอนแก่น
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,43,353201-เลย จ.เลย,2020-10-01,24.6,24.4,23.9,24.2,24.4,23.5,23.1,...,22.2,22,23.1,22.5,22.254839,1,10,2020,353201-เลย,เลย
46,44,353201-เลย จ.เลย,2020-11-01,22.8,22.3,21.6,20.9,21.4,21.6,21.7,...,18.3,18.1,17.2,-,20.093333,1,11,2020,353201-เลย,เลย
47,45,353201-เลย จ.เลย,2020-12-01,17.1,17.8,17.3,14.4,13.2,13.9,14.4,...,19.4,18.3,16.5,10.7,16.041935,1,12,2020,353201-เลย,เลย
48,46,353201-เลย จ.เลย,2021-01-01,10.0,9.7,10.8,13.9,16.0,17.3,16.9,...,16.9,15,14.7,15.2,13.145161,1,1,2021,353201-เลย,เลย
49,47,353201-เลย จ.เลย,2021-02-01,16.5,17.2,16.3,14.2,14.8,15.0,15.8,...,15.2,-,-,-,15.782143,1,2,2021,353201-เลย,เลย

In [304]:
dwt[['station','province']]=dwt['สถานี'].apply(lambda x: pd.Series(str(x).split(" จ.")))
print(dwt)
dwt

     ที่                     สถานี วันเดือนปี     1     2     3     4     5  \
1    2    381201-ขอนแก่น จ.ขอนแก่น 2011-11-01  26.3  26.3  26.3  26.6  26.8
2    3    381201-ขอนแก่น จ.ขอนแก่น 2011-12-01  25.4  23.9  21.3  22.3  23.0
3    1    381201-ขอนแก่น จ.ขอนแก่น 2012-01-01  23.8  24.5  25.0  24.8  22.8
4    2    381201-ขอนแก่น จ.ขอนแก่น 2012-02-01  23.9  25.4  25.3  24.8  27.2
5    3    381201-ขอนแก่น จ.ขอนแก่น 2012-10-01  26.8  27.4  28.3  27.9  27.4
..   ...                       ...        ...   ...   ...   ...   ...   ...
45  43            353201-เลย จ.เลย 2020-10-01  27.5  27.1  26.3  27.7  26.5
46  44            353201-เลย จ.เลย 2020-11-01  26.7  26.1  26.0  25.8  25.8
47  45            353201-เลย จ.เลย 2020-12-01  22.9  23.1  23.6  21.9  20.1
48  46            353201-เลย จ.เลย 2021-01-01  18.0  16.8  18.1  20.2  22.5
49  47            353201-เลย จ.เลย 2021-02-01  23.7  24.8  25.1  24.3  23.4

       6     7  ...    28    29    30    31  ค่าเฉลี่ย  day  month  year  \
1   27.5  27.9  ...  26.2    26    26     -       25.8    1     11  2011
2   25.6  25.4  ...  23.5  23.7  24.2  24.1       22.4    1     12  2011
3   23.4  23.1  ...  26.3  25.6  25.3    23       24.4    1      1  2012
4   28.2  28.3  ...  27.5  28.5     -     -       26.5    1      2  2012
5   27.3  26.5  ...  28.8    29  28.3  27.5       27.6    1     10  2012
..   ...   ...  ...   ...   ...   ...   ...        ...  ...    ...   ...
45  27.6  27.1  ...  26.3  23.1  24.6  24.8       25.5    1     10  2020
46  26.0  25.1  ...  24.9  23.7  23.1     -       25.3    1     11  2020
47  19.7  20.2  ...  25.7  25.3  23.8  20.3       22.2    1     12  2020
48  23.3  23.6  ...  24.5  23.5  21.6  22.6       20.8    1      1  2021
49  23.8  24.1  ...  25.6     -     -     -       24.1    1      2  2021

           station  province
1   381201-ขอนแก่น   ขอนแก่น
2   381201-ขอนแก่น   ขอนแก่น
3   381201-ขอนแก่น   ขอนแก่น
4   381201-ขอนแก่น   ขอนแก่น
5   381201-ขอนแก่น   ขอนแก่น
..             ...       ...
45      353201-เลย       เลย
46      353201-เลย       เลย
47      353201-เลย       เลย
48      353201-เลย       เลย
49      353201-เลย       เลย

[265 rows x 40 columns]

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,28,29,30,31,ค่าเฉลี่ย,day,month,year,station,province
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,26.2,26,26,-,25.8,1,11,2011,381201-ขอนแก่น,ขอนแก่น
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,23.5,23.7,24.2,24.1,22.4,1,12,2011,381201-ขอนแก่น,ขอนแก่น
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,23.8,24.5,25.0,24.8,22.8,23.4,23.1,...,26.3,25.6,25.3,23,24.4,1,1,2012,381201-ขอนแก่น,ขอนแก่น
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,23.9,25.4,25.3,24.8,27.2,28.2,28.3,...,27.5,28.5,-,-,26.5,1,2,2012,381201-ขอนแก่น,ขอนแก่น
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,26.8,27.4,28.3,27.9,27.4,27.3,26.5,...,28.8,29,28.3,27.5,27.6,1,10,2012,381201-ขอนแก่น,ขอนแก่น
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,43,353201-เลย จ.เลย,2020-10-01,27.5,27.1,26.3,27.7,26.5,27.6,27.1,...,26.3,23.1,24.6,24.8,25.5,1,10,2020,353201-เลย,เลย
46,44,353201-เลย จ.เลย,2020-11-01,26.7,26.1,26.0,25.8,25.8,26.0,25.1,...,24.9,23.7,23.1,-,25.3,1,11,2020,353201-เลย,เลย
47,45,353201-เลย จ.เลย,2020-12-01,22.9,23.1,23.6,21.9,20.1,19.7,20.2,...,25.7,25.3,23.8,20.3,22.2,1,12,2020,353201-เลย,เลย
48,46,353201-เลย จ.เลย,2021-01-01,18.0,16.8,18.1,20.2,22.5,23.3,23.6,...,24.5,23.5,21.6,22.6,20.8,1,1,2021,353201-เลย,เลย
49,47,353201-เลย จ.เลย,2021-02-01,23.7,24.8,25.1,24.3,23.4,23.8,24.1,...,25.6,-,-,-,24.1,1,2,2021,353201-เลย,เลย

In [305]:
lt[['station','province']]=lt['สถานี'].apply(lambda x: pd.Series(str(x).split(" จ.")))
print(lt)
lt

     ที่                     สถานี วันเดือนปี     1     2     3     4     5  \
1    2    381201-ขอนแก่น จ.ขอนแก่น 2011-11-01  20.7  20.4  20.5  20.9  20.6
2    3    381201-ขอนแก่น จ.ขอนแก่น 2011-12-01  19.3  18.9  15.4  15.6  16.3
3    1    381201-ขอนแก่น จ.ขอนแก่น 2012-01-01  17.7  19.6  20.4  20.7  16.8
4    2    381201-ขอนแก่น จ.ขอนแก่น 2012-02-01  19.4  20.5  20.9  20.9  21.5
5    3    381201-ขอนแก่น จ.ขอนแก่น 2012-10-01  22.5  22.5  23.5  24.2  24.0
..   ...                       ...        ...   ...   ...   ...   ...   ...
50  48            353201-เลย จ.เลย 2021-10-01  24.3  23.8  24.0  23.0  22.5
51  49            353201-เลย จ.เลย 2021-11-01  23.4  23.0  23.0  21.0  21.3
52  50            353201-เลย จ.เลย 2021-12-01  15.5  15.6  13.4  10.5   9.2
53   1            353201-เลย จ.เลย 2022-01-01  16.4  16.6  15.0  15.9  14.1
54   2            353201-เลย จ.เลย 2022-02-01  15.5  19.5  20.5  20.0  18.0

       6     7  ...    28    29    30    31 ค่าเฉลี่ย  day  month  year  \
1   22.2  23.8  ...  20.1  20.2  19.8     -      20.3    1     11  2011
2   20.2  20.8  ...  16.5  16.7  18.4    17      16.4    1     12  2011
3   16.9  16.8  ...  21.6  20.8  21.6  20.1      19.4    1      1  2012
4   21.1  20.7  ...    22  22.2     -     -      20.1    1      2  2012
5   23.2  21.9  ...  23.7  24.3  24.3  22.7      23.0    1     10  2012
..   ...   ...  ...   ...   ...   ...   ...       ...  ...    ...   ...
50  23.6  23.0  ...  20.5  22.5  23.1     -      22.7    1     10  2021
51  20.4  20.8  ...  15.8  15.8     -     -      20.4    1     11  2021
52  11.1  12.0  ...  15.5  16.1  18.4  17.8      14.8    1     12  2021
53  14.2  14.8  ...  16.6  16.7  15.5    15      16.2    1      1  2022
54  17.5  17.1  ...  17.6     -     -     -      18.3    1      2  2022

           station province
1   381201-ขอนแก่น  ขอนแก่น
2   381201-ขอนแก่น  ขอนแก่น
3   381201-ขอนแก่น  ขอนแก่น
4   381201-ขอนแก่น  ขอนแก่น
5   381201-ขอนแก่น  ขอนแก่น
..             ...      ...
50      353201-เลย      เลย
51      353201-เลย      เลย
52      353201-เลย      เลย
53      353201-เลย      เลย
54      353201-เลย      เลย

[270 rows x 40 columns]

,ที่,สถานี,วันเดือนปี,1,2,3,4,5,6,7,...,28,29,30,31,ค่าเฉลี่ย,day,month,year,station,province
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,20.1,20.2,19.8,-,20.3,1,11,2011,381201-ขอนแก่น,ขอนแก่น
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,16.5,16.7,18.4,17,16.4,1,12,2011,381201-ขอนแก่น,ขอนแก่น
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,17.7,19.6,20.4,20.7,16.8,16.9,16.8,...,21.6,20.8,21.6,20.1,19.4,1,1,2012,381201-ขอนแก่น,ขอนแก่น
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,19.4,20.5,20.9,20.9,21.5,21.1,20.7,...,22,22.2,-,-,20.1,1,2,2012,381201-ขอนแก่น,ขอนแก่น
5,3,381201-ขอนแก่น จ.ขอนแก่น,2012-10-01,22.5,22.5,23.5,24.2,24.0,23.2,21.9,...,23.7,24.3,24.3,22.7,23.0,1,10,2012,381201-ขอนแก่น,ขอนแก่น
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353201-เลย จ.เลย,2021-10-01,24.3,23.8,24.0,23.0,22.5,23.6,23.0,...,20.5,22.5,23.1,-,22.7,1,10,2021,353201-เลย,เลย
51,49,353201-เลย จ.เลย,2021-11-01,23.4,23.0,23.0,21.0,21.3,20.4,20.8,...,15.8,15.8,-,-,20.4,1,11,2021,353201-เลย,เลย
52,50,353201-เลย จ.เลย,2021-12-01,15.5,15.6,13.4,10.5,9.2,11.1,12.0,...,15.5,16.1,18.4,17.8,14.8,1,12,2021,353201-เลย,เลย
53,1,353201-เลย จ.เลย,2022-01-01,16.4,16.6,15.0,15.9,14.1,14.2,14.8,...,16.6,16.7,15.5,15,16.2,1,1,2022,353201-เลย,เลย
54,2,353201-เลย จ.เลย,2022-02-01,15.5,19.5,20.5,20.0,18.0,17.5,17.1,...,17.6,-,-,-,18.3,1,2,2022,353201-เลย,เลย

## ลบ columns สถานี วันเดือนปี day

In [306]:
pressure = pressure[[ 'ที่',            1,            2,
                  3,            4,            5,            6,            7,
                  8,            9,           10,           11,           12,
                 13,           14,           15,           16,           17,
                 18,           19,           20,           21,           22,
                 23,           24,           25,           26,           27,
                 28,           29,           30,           31,  'ค่าเฉลี่ย',
                    'month',       'year',    'station',   'province']]

In [307]:
rh=rh[[ 'ที่',            1,            2,
                  3,            4,            5,            6,            7,
                  8,            9,           10,           11,           12,
                 13,           14,           15,           16,           17,
                 18,           19,           20,           21,           22,
                 23,           24,           25,           26,           27,
                 28,           29,           30,           31,  'ค่าเฉลี่ย',
                    'month',       'year',    'station',   'province']]

In [308]:
ws=ws[[ 'ที่',            1,            2,
                  3,            4,            5,            6,            7,
                  8,            9,           10,           11,           12,
                 13,           14,           15,           16,           17,
                 18,           19,           20,           21,           22,
                 23,           24,           25,           26,           27,
                 28,           29,           30,           31,  'ค่าเฉลี่ย',
                    'month',       'year',    'station',   'province']]

In [309]:
ca=[[ 'ที่',            1,            2,
                  3,            4,            5,            6,            7,
                  8,            9,           10,           11,           12,
                 13,           14,           15,           16,           17,
                 18,           19,           20,           21,           22,
                 23,           24,           25,           26,           27,
                 28,           29,           30,           31,  'ค่าเฉลี่ย',
                    'month',       'year',    'station',   'province']]

In [310]:
ar=ar[[ 'ที่',            1,            2,
                  3,            4,            5,            6,            7,
                  8,            9,           10,           11,           12,
                 13,           14,           15,           16,           17,
                 18,           19,           20,           21,           22,
                 23,           24,           25,           26,           27,
                 28,           29,           30,           31,  'ค่าเฉลี่ย',
                    'month',       'year',    'station',   'province']]

In [311]:
dpt=dpt[[ 'ที่',            1,            2,
                  3,            4,            5,            6,            7,
                  8,            9,           10,           11,           12,
                 13,           14,           15,           16,           17,
                 18,           19,           20,           21,           22,
                 23,           24,           25,           26,           27,
                 28,           29,           30,           31,  'ค่าเฉลี่ย',
                    'month',       'year',    'station',   'province']]

In [312]:
dwt=dwt[[ 'ที่',            1,            2,
                  3,            4,            5,            6,            7,
                  8,            9,           10,           11,           12,
                 13,           14,           15,           16,           17,
                 18,           19,           20,           21,           22,
                 23,           24,           25,           26,           27,
                 28,           29,           30,           31,  'ค่าเฉลี่ย',
                    'month',       'year',    'station',   'province']]

In [313]:
lt=lt[[ 'ที่',            1,            2,
                  3,            4,            5,            6,            7,
                  8,            9,           10,           11,           12,
                 13,           14,           15,           16,           17,
                 18,           19,           20,           21,           22,
                 23,           24,           25,           26,           27,
                 28,           29,           30,           31,  'ค่าเฉลี่ย',
                    'month',       'year',    'station',   'province']]

## dropcolum

In [314]:
pressure.columns

Index([      'ที่',           1,           2,           3,           4,
                 5,           6,           7,           8,           9,
                10,          11,          12,          13,          14,
                15,          16,          17,          18,          19,
                20,          21,          22,          23,          24,
                25,          26,          27,          28,          29,
                30,          31, 'ค่าเฉลี่ย',     'month',      'year',
         'station',  'province'],
      dtype='object')

In [315]:
pressure=pressure[['station',  'province','month', 'year',1,           2,           3,           4,
                 5,           6,           7,           8,           9,
                10,          11,          12,          13,          14,
                15,          16,          17,          18,          19,
                20,          21,          22,          23,          24,
                25,          26,          27,          28,          29,
                30,          31]]

In [316]:
pressure

,station,province,month,year,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,352201-หนองคาย,หนองคาย,11,2011,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,...,1013.63,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-
2,352201-หนองคาย,หนองคาย,12,2011,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,...,1012.88,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4
3,352201-หนองคาย,หนองคาย,1,2012,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,...,1009.62,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52
4,352201-หนองคาย,หนองคาย,2,2012,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,...,1006.99,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-
5,352201-หนองคาย,หนองคาย,10,2012,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,...,1011.87,1010.93,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,352201-หนองคาย,หนองคาย,10,2021,1008.43,1008.34,1008.24,1008.42,1007.69,1005.89,...,1013.51,1015.30,1014.89,1013.39,1012.31,1012.32,1012.01,1013.2,1013.23,1012.88
51,352201-หนองคาย,หนองคาย,11,2021,1012.91,1013.02,1012.15,1011.46,1009.40,1007.50,...,1011.01,1013.19,1014.92,1014.61,1014.41,1015.38,1014.90,1013.6,1014.54,-
52,352201-หนองคาย,หนองคาย,12,2021,1015.91,1017.25,1018.56,1018.62,1017.53,1016.78,...,1013.42,1012.90,1012.60,1014.50,1015.92,1017.25,1017.72,1016.77,1018.16,1018.61
53,352201-หนองคาย,หนองคาย,1,2022,1018.23,1017.43,1015.47,1014.62,1013.71,1013.76,...,1010.65,1010.13,1010.22,1010.08,1010.58,1010.70,1010.58,1008.71,1008.14,1009.05
54,352201-หนองคาย,หนองคาย,2,2022,1011.36,1012.78,1012.90,1013.71,1015.78,1014.38,...,1016.39,1018.04,1019.23,1018.46,1016.68,1015.31,1013.06,-,-,-

In [317]:
p1 = pressure.iloc[0:1,:]
dayp = p1.iloc[0:1,4:]
columnp = p1.iloc[0:1,0:4]
tdayp = dayp.T
tdayp
yo =pd.concat([tdayp,columnp])
yoyo=yo.fillna(method='bfill')

In [318]:
p2 = pressure.iloc[1:2,:]
dayp2 = p2.iloc[0:1,4:]
columnp2 = p2.iloc[0:1,0:4]
tdayp2 = dayp2.T
tdayp2
yo2 =pd.concat([tdayp2,columnp2])
yoyo2=yo2.fillna(method='bfill')

In [319]:
yoyo.rename(columns={1:'ความกดอากาศ'})

   ความกดอากาศ  month province         station    year
1      1011.79   11.0  หนองคาย  352201-หนองคาย  2011.0
2      1010.83   11.0  หนองคาย  352201-หนองคาย  2011.0
3      1010.74   11.0  หนองคาย  352201-หนองคาย  2011.0
4      1010.71   11.0  หนองคาย  352201-หนองคาย  2011.0
5      1010.09   11.0  หนองคาย  352201-หนองคาย  2011.0
6      1009.24   11.0  หนองคาย  352201-หนองคาย  2011.0
7      1008.03   11.0  หนองคาย  352201-หนองคาย  2011.0
8       1007.2   11.0  หนองคาย  352201-หนองคาย  2011.0
9      1009.68   11.0  หนองคาย  352201-หนองคาย  2011.0
10     1011.96   11.0  หนองคาย  352201-หนองคาย  2011.0
11     1012.75   11.0  หนองคาย  352201-หนองคาย  2011.0
12     1013.67   11.0  หนองคาย  352201-หนองคาย  2011.0
13      1013.9   11.0  หนองคาย  352201-หนองคาย  2011.0
14     1013.99   11.0  หนองคาย  352201-หนองคาย  2011.0
15     1014.04   11.0  หนองคาย  352201-หนองคาย  2011.0
16      1012.1   11.0  หนองคาย  352201-หนองคาย  2011.0
17     1010.78   11.0  หนองคาย  352201-หนองคาย  2011.0
18     1009.32   11.0  หนองคาย  352201-หนองคาย  2011.0
19     1011.05   11.0  หนองคาย  352201-หนองคาย  2011.0
20     1014.14   11.0  หนองคาย  352201-หนองคาย  2011.0
21      1014.6   11.0  หนองคาย  352201-หนองคาย  2011.0
22     1013.63   11.0  หนองคาย  352201-หนองคาย  2011.0
23     1014.07   11.0  หนองคาย  352201-หนองคาย  2011.0
24      1015.4   11.0  หนองคาย  352201-หนองคาย  2011.0
25     1013.95   11.0  หนองคาย  352201-หนองคาย  2011.0
26     1012.35   11.0  หนองคาย  352201-หนองคาย  2011.0
27     1011.31   11.0  หนองคาย  352201-หนองคาย  2011.0
28     1009.59   11.0  หนองคาย  352201-หนองคาย  2011.0
29     1010.13   11.0  หนองคาย  352201-หนองคาย  2011.0
30     1010.47   11.0  หนองคาย  352201-หนองคาย  2011.0
31           -   11.0  หนองคาย  352201-หนองคาย  2011.0
1          NaN   11.0  หนองคาย  352201-หนองคาย  2011.0

rh

In [320]:
rh

,ที่,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,ค่าเฉลี่ย,month,year,station,province
1,2,71,65,68,65,65,68,69,69,80,...,68,67,67,65,-,68,11,2011,381201-ขอนแก่น,ขอนแก่น
2,3,66,61,61,62,61,60,69,68,62,...,62,65,66,63,64,63,12,2011,381201-ขอนแก่น,ขอนแก่น
3,1,65,66,69,63,64,68,65,62,60,...,75,69,70,67,68,69,1,2012,381201-ขอนแก่น,ขอนแก่น
4,2,71,72,71,72,70,68,61,69,70,...,71,73,68,-,-,65,2,2012,381201-ขอนแก่น,ขอนแก่น
5,3,73,73,72,81,83,73,70,86,78,...,62,64,69,74,68,72,10,2012,381201-ขอนแก่น,ขอนแก่น
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,91,88,87,86,84,88,83,85,84,...,89,88,93,89,90,89,10,2021,353301-เลย สกษ.,เลย
51,49,90,86,85,86,83,85,84,83,76,...,82,80,81,77,-,82,11,2021,353301-เลย สกษ.,เลย
52,50,76,73,73,72,70,70,69,74,77,...,75,76,78,76,72,75,12,2021,353301-เลย สกษ.,เลย
53,1,74,74,77,79,74,73,76,77,75,...,70,72,68,65,67,75,1,2022,353301-เลย สกษ.,เลย
54,2,75,75,82,82,78,81,71,69,69,...,74,72,-,-,-,80,2,2022,353301-เลย สกษ.,เลย

##สร้างตาราง select record